{% extends 'main/settings/privacy_security.html' %}
{% load crispy_forms_tags %}
{% block securitycontent %}
<div class="change-password-ctr">
    <div class="change-title mb-4">
        <div class="d-flex justify-content-between">
            <div class="setting-menu-sub">
                <h5>Change Password</h5>
            </div>
        </div>
    </div>
    {% if messages %}
        <div class="mb-2 messages card border-">
            <div class="d-flex align-items-center card-body">
                <div>
                    {% for message in messages %}
                    <span {% if message.tags %} class="text-{{ message.tags }}" {% endif %}> {{ message }} </span><br>
                    {% endfor %}
                </div>
            </div>
    </div>
    {% endif %}
    <div id="change-password-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-ctr">
                {{ form|crispy }}
            </div>
            <div class="link-extra my-3">
                <div>
                    <a class="card-link" href="#">Forgot Password?</a>
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-end col-12" style="margin-left:16px !important;border-radius: 20px; ">
                <button type="submit" class="btn btn-md no-border btn-primary"  style="border-radius: 20px; ">Save</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}