{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
    <h2>Change password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      <button class="btn btn-primary btn-md no-border float-right" style="border-radius: 20px;border: none;" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset <a class="card-link" href="{% url 'password_reset' %}">here</a>.
    </p>
  {% endif %}
{% endblock %}