{% extends 'home/search/search.html' %}
{% load static %}
{% load ibuilder %}
{% block content %}
<div id="lister-page" class="search-ctr-marked" data-target="_posre">
  <div id="post-list">
    <div>
      {% include 'home/posts/home_post.html' %}
    </div>
</div>
</div>
{% endblock %}
{% block item %}
{% if tags %}
<div class="le_m_bx">
  <div class="card border-0" style="background-color: rgba(210, 230, 248, 0.356); border-radius: 20px;">
    <div class="content-holder">
      <div class="pl-3 pr-3 pt-3 border-bottom">
          <div>
            <h5 class="font-weight-bolder card-title">Related Tags</h5>
          </div>
      </div>
      {% for tag in tags %}
      <div data-url="{% url 'home:tag-post' tag.slug %}" class="mnpglk pl-3 pr-3 pb-1 pt-2 border-bottom">
        <a href="{% url 'home:tag-post' tag.slug %}"  class="card-link text-dark">#{{tag.name}}</a>
        <br>
        <span class="card-subtitle small">{{ tag.num_times|num_format }} Posts</span>
      </div>
      {% endfor %}
      <div class="pl-3 pr-3 pb-1 pt-1 m-1"></div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}