<div class="users-list">
    {% for user in users %}
    <div class="mb-2 card">
        <div class="card-body">
            <div class="d-flex m-2">
                <div>
                    <img class="img-create-post rounded-circle" style="height: 2.5rem;width: 2.5rem;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                    alt="Profile image">
                </div >
                <div class="ml-1">
                    <div>
                        <span class="mx-0 text-dark font-weight-bolder">{{ user.first_name }} {{ user.last_name}}</span>
                    </div>
                    <div style="margin-top: -0.35rem;">
                    <a class="small" style="color: rgb(1,119,200)" href="#">@{{ user.get_username }}</a>
                        <span class="mx-0 small text-muted">·</span>
                        <span class="text-muted small">{{ user.university|capfirst }}</span>
                    </div>
                </div>
            </div>
            {% if request.user.university == user.university %}
                <span class="text-muted font-weight-bolder small">
                    You both go to {{ request.user.univeristy }}
                </span>
            {% endif %}
        </div>
    </div>
{% empty %}
    <div class="d-flex justify-content-center">
      <h5 class="h5 font-weight-lighter my-3 text-muted">No users found.</h5>
    </div>
{% endfor %}
</div>