{% load ibuilder %}
{% load static %}
{% div_class as veid %}
<div id="_pc_{{ veid }}" class="post-ctr infinite-item">
  <div class="row">
    <div class="col-sm-12 col-12">
      <div class="ml-1 mb-2 mt-2 pb-3" style="border-bottom:solid 1px rgba(136, 136, 136, 0.288) ;">
        <div class="d-flex justify-content-between ml-1">
          <div class="d-flex m-2">
            <div>
              <img class="img-create-post rounded-circle" style="height: 2.6rem;width: 2.6rem;"
                src="{{ post.author.image.url }}" />
            </div>
            <div class="ml-1">
              <div>
                <strong class="mx-0">{{ post.author.get_full_name }}</strong>
              </div>
              <div style="margin-top: -0.35rem;">
                <a class="small" style="color: rgb(1,119,200)"
                  href="{{ post.author.get_absolute_url }}">@{{ post.author.get_username }}</a>
                <span class="mx-0 small text-muted">·</span>
                <span class="text-muted small">{% if post.edited %}Edited
                  {{ post.get_edited_on }}{% else %}{{ post.get_created_on }}{% endif %}</span>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-sm " type="button" id="d_li" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="d_li">
              <div class="bm_allctr">
                {% include 'main/bookmark/bookmark_dropdown.html' with hid=post.get_hashid t="post" %}
              </div>
              {% if post.author == request.user %}
              <button class="small dropdown-item show-form-delete"
                data-url="{% url 'home:post-delete' post.guid_url %}"><svg class="bi mr-1 bi-trash" width="1em"
                  height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>Delete</button>
              <button class="small dropdown-item show-form-update" data-veid="{{ veid }}"
                data-url="{% url 'home:post-update' post.guid_url %}"><svg class="bi mr-1 bi-pencil-square" width="1em"
                  height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>Edit</button>
              {% endif %}
              {% if post.author != request.user %}
              <button class="small dropdown-item show-report-form"
                data-url="{% url 'main:report-object' request.user.get_hashid %}?t=p&hid={{ post.get_hashid }}"><svg
                  width="1em" height="1em" viewBox="0 0 16 16" class="bi mr-1 bi-flag" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                  <path fill-rule="evenodd"
                    d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 1 1-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 0 1-.554-.832l.04-.026z" />
                </svg>Report</button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body text-dark post-details-view" data-url="{% url 'home:post-detail' post.guid_url  %}">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="font-weight-bolder" style="margin-left:-9px;margin-bottom: 0px; margin-top: -10px;">
                <a class="text-dark" style="text-decoration: none;"
                  href="{% url 'home:post-detail' post.guid_url  %}">{{ post.title }}</a>
              </h5>
            </div>
          </div>
          <div class="my-2">
            <div class="pb-3 p_ico" style="margin-right: -1.27rem;margin-left: -1.27rem;">
              {% if  post.has_image %}
              <div id="carousel-{{ post.title|cut:' ' }}-{{ post.author.username }}" class="carousel slide mb-2"
                data-interval="false" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for i in post.image_count_as_list %}
                  <li data-target="#carousel-{{ post.title|cut:' ' }}" data-slide-to="{{ forloop.counter0 }}"
                    class="active"></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                  {% for pic in post.images.all %}
                  <div class="carousel-item">
                    <img class="img-fluid d-block mx-auto" src="{{ pic.image.url }}"
                      alt="Image shared by {{ post.author.get_full_name }}">
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-{{ post.title|cut:' ' }}-{{ post.author.username }}"
                  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{ post.title|cut:' ' }}-{{ post.author.username }}"
                  role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              {% endif %}
            </div>
            <p class="card-text" style="margin-left:-9px;margin-top: -0.9rem;">{{ post.content }}</p>
          </div>
          <div class="post-tags d-flex">
            {% for tag in post.tags.all %}
            <div class="mr-1 small">
              <a href="{% url 'home:tag-post' tag.slug %}" class="text-primary">#{{ tag.name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="post-option-action pb-1 d-flex align-items-center justify-content-start">
          <div class="like-section">
            {% include 'home/posts/likes.html' with post=post %}
          </div>
          <div>
            <a class=" btn btn-md" href="{% url 'home:post-detail' post.guid_url %}">
              <span style="color:  rgb(158, 158, 158);">
                <svg class="bi bi-chat" width="20" height="20" viewBox="0 0 16 16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                </svg>
                {% if post.comment_count != 0 %}
                <span class="small ml-1">
                  {{ post.comment_count|num_format }}
                </span>
                {% endif %}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.carousel').each(function () {
      var c = this;
      $(c).find(".carousel-item").removeClass('active').filter(':first').addClass("active");
    });
  });
</script>