{% load static %}
<div class="modal-header">
    <h5 class="modal-title" >Comments</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- changed col-xs to col-sm -->
<div class="modal-infinite modal-body ml-1" style="height: 450px;overflow-y: auto; margin-top: -12px;">
    <div class="list-ctr">
        {% for comment in post_comments %}
        <div class="infinite-item row border-bottom">
            <div class="col-xs m-1">
                <img class="img-create-post rounded-circle" style="width: 2.1rem;height: 2.1rem;" src="{{ comment.name.image.url }}" alt="Profile image">
            </div>
            <div class="col-xs">
                <a class="text-dark font-size-smaller" href="{{ comment.name.get_absolute_url }}" style="font-weight: 500;">{{ comment.name.get_full_name }} </a>
                <span class="text-muted small">·</span>
                <span class="text-muted small">{{ comment.get_created_on }} ago</span>
                <div style="margin-top: -9px;"> 
                    <span class="text-muted small">@{{ comment.name.username }}</span>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="d-flex justify-content-center">
            <p class="m-0 small text-muted">No comments</p>
        </div>
        {% endfor %}
        {% if post_comments.has_next %}
             <button type="button" class="btn text-primary no-border no-outline post-comment-infinite-link" data-url="/post/{{ post.guid_url }}/comments/?page={{ post_comments.next_page_number }}">More</button>
        {% endif %}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"  style="border-radius: 20px;">Close</button>
</div>