{% extends 'chat/index.html' %}
{% load static %}
{% block title %}{{ user2.username }} - Messages{% endblock %}
{% block chat %}
    <div>
        <div style="background-color: #fff !important;">
            <div class="d-flex align-items-center border-bottom p-1" style="padding-top: 10px !important; padding-bottom: 11px !important;">
                <div class="mr-2">
                    <img class="rounded-circle"  src="{{ user2.image.url }}"
                    width="50px" height="50px">
                </div>
                <div class="pt-2">
                    <p class="h6 text-dark" style="margin-bottom: -4px !important;">{{ user2.get_full_name }}</p>
                    <a href="{{ user2.get_absolute_url }}" style="text-decoration: none;"><span class="text-muted small" >@{{ user2.get_username }}</span></a>
                </div>        
            </div>
            <div class="messages" id="chat-log-container">
                <div id="chat-log" class="px-2 pl-5 pt-3 d-flex flex-column"  style="height: 75vh; overflow-y: auto;padding-bottom: 15px;">
                   
                </div>
            </div>
            <div class="mt-2 bg-white message-input " style="position:absolute!important;bottom: 0 !important; width: 100% !important;">
                <div class="w-100  d-flex col-12">
                    <input type="text" class='form-control no-outline form-control-lg m-1' id="chat-message-input" placeholder="Message..." style="border-radius: 25px;">
                    <!-- <button class="submit" id="chat-message-submit">Submit</button> -->
                </div>
            </div>
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script src="{% static 'chat/main.js' %}"></script>
    {{ room_id|json_script:"room-id" }}
    {{ username|json_script:"request-user-username" }}
    {{ user2.username|json_script:"user2-username" }}
    {{ user2.get_hashid|json_script:"hashiduser2"}}
    <script>
        const spinner = '<div id="loader-content-spinner" class="d-flex justify-content-center"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div>';
        const hashiduser2 = JSON.parse(document.getElementById('hashiduser2').textContent);
        const roomName = JSON.parse(document.getElementById('room-id').textContent);
        var username =  JSON.parse(document.getElementById('request-user-username').textContent);
        var user2 =  JSON.parse(document.getElementById('user2-username').textContent);
        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + user2
            + '/'
            + roomName
            + '/'
        );

        jQuery.fn.urlize = function() {
            if (this.length > 0) {
                this.each(function(i, obj){
                    var x = $(obj).html();
                    var list = x.match( /\b(http:\/\/|www\.|http:\/\/www\.)[^ <]{2,200}\b/g );
                    if (list) {
                        for ( i = 0; i < list.length; i++ ) {
                            var prot = list[i].indexOf('http://') === 0 || list[i].indexOf('https://') === 0 ? '' : 'http://';
                            x = x.replace( list[i], "<a target='_blank' href='" + prot + list[i] + "'>"+ list[i] + "</a>" );
                        }
                    }
                    $(obj).html(x);
                });

            }
        };

        var distance = $('#chat-log').offset().top - 150;
        $('#chat-log').scroll(function() {
            if ($(this).scrollTop() <= distance ) {
                $(this).prepend(spinner);
            } else {
                $(this).find('#loader-content-spinner').remove();
            }
        });

        document.addEventListener("DOMNodeInserted", function(event) {
            $($(event.target).children()[0]).find('p').linkify({
                target: "_blank"
            });
        });

        chatSocket.onopen = function(e) {
            fetchMessages();
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                for (let i=0; i< data['messages'].length; i++){
                    createMessage(data['messages'][i]);   
                }
            } else if (data['command'] === 'new_message') {
                createMessage(data['message'])
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) { 
            var messageInputDOM = document.getElementById('chat-message-input');
            var message = messageInputDOM.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'from': username,
            }));
            messageInputDOM.value = '';
            }
        };       
        // document.querySelector('#chat-message-submit').onclick = function(e) {
        //     var messageInputDOM = document.getElementById('chat-message-input');
        //     var message = messageInputDOM.value;
        //     chatSocket.send(JSON.stringify({
        //         'command': 'new_message',
        //         'message': message,
        //         'from': username,
        //     }));
        //     messageInputDOM.value = '';
        // };

        function fetchMessages() {
            chatSocket.send(JSON.stringify({'command':'fetch_messages','room_id':roomName}));
        }

        function fetchMessages() {
            chatSocket.send(JSON.stringify({'command':'fetch_messages','room_id':roomName}));
        }

        function createMessage(data){
            var author = data['author'];
            if ("last_message_content" in data) {
                $("#"+hashiduser2+"__chat__last_msg").find('.message').html(data['last_message_content']);
                $("#"+hashiduser2+"__chat__last_msg").find('.time').html(data['last_message_time']);
                $("#"+hashiduser2+"__chat__last_msg").find('.button__separator_time').html("•");             
            }
            var divMainMessageTag = document.createElement('div');
            divMainMessageTag.className = 'message-container ';
            var msgListTag = document.createElement('div');
            msgListTag.className = 'mb-3 ';
            var pTag = document.createElement('p');
            pTag.textContent = data.content;
            if (author === username) {
                divMainMessageTag.className += 'sent float-right';                
            } else {
                divMainMessageTag.className += 'replies float-left';
            }
            divMainMessageTag.appendChild(pTag);
            msgListTag.appendChild(divMainMessageTag);
            document.querySelector('#chat-log').appendChild(msgListTag);
            var elem = document.getElementById('chat-log');
            var shouldScroll = elem.scrollTop + elem.clientHeight === elem.scrollHeight;
            scrollToBottom();           
        }

        function scrollToBottom() {
            $('#chat-log').scrollTop($('#chat-log').height()*1000);
        }

    </script>
    <style>
        #chat-log div div.message-container {
            list-style-type: none;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px !important;          
            border-radius: 25px;
            padding: 5px;
            max-width: 50% !important;
        }
        #chat-log div div.message-container p {
            word-wrap: break-word !important;
            margin:7px;
        }
        #chat-log div div.sent {
            background-color: rgba(226, 226, 226, 0.664);
        }
        #chat-log div div.replies {
            background-color: white;
            border: 1px rgb(163, 163, 163) solid;
        }
    </style>
{% endblock %}