{% load static %}
<footer class="page-footer font-small pt-2">
    <div class="row">
      <div class="ml-3">       
        <a class="text-muted small" href="{% url 'main:site-about' %}">
          About
          </a>
      </div>
      <div class="ml-3">       
        <a class="text-muted small" href="{% url 'main:site-terms' %}">
          Terms
          </a> 
      </div>
      <div class="ml-3">       
        <a class="text-muted small" href="{% url 'main:web-policy' %}">
          Privacy policy
          </a>
      </div>
      <div class="ml-3">       
        <a class="text-muted small" href="{% url 'main:cookies-policy' %}">
          Cookies
          </a>
      </div>
      <div class="ml-3">       
        <a class="text-muted small" target="_blank" href="{% url 'main:contact-us' %}">
          Contact Us
          </a>
      </div>
      {% if request.user.is_authenticated %}
      <div class="ml-3">       
        <a class="text-muted small" target="_blank" href="https://forms.gle/cJQPNCQZRuDSbTTH9">
          Feedback
          </a>
      </div>
      {% endif %}                                                                                                                                             
    </div>
    <div class="footer-copyright small mt-1 text-muted">JoinCampus © 2020. All rights reserved
      </div>
  </footer> 