{% autoescape off %}

{{ user.get_full_name|capfirst }}, to reset your password on your Corscope account, please click or copy the link below into your browser to reset your password. 

If this request was not you please ignore this email.

To reset your password, click on the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Sincerely,
Corscope Team
{% endautoescape %}