{% extends 'main/settings/privacy_security.html' %}
{% block securitycontent %}
<div class="delete-block p-2">
    <div class="d-flex justify-content-center">
        <form method="POST" action="{% url 'main:course-deletion' %}?t={{ obj }}">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ title }}
                    </h5>
                    <p class="card-text">{{ message }}</p>
                    <span class="text-muted small card-subtitle">
                        Please note this action is not reversible and all requested data will be removed permanently.
                    </span>      
                </div>
                <div class="p-1">
                    <button class="btn btn-sm btn-danger no-border float-right" type="submit" style="border-radius: 20px;">Delete</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}