{% extends 'main/settings/privacy_security.html' %}
{% block securitycontent %}
{% if messages %}
<div class="success-message">
    <div>
        <div class="boc-s">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show my-1" role="alert">
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-1" role="alert">
            {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="options-all-box">
    <div class="card">
        <div class="card-title-a">
            <div class="p-2">
                <h5>Data Deletion</h5>
                <p>If you want to remove your account or some of your data, you can manage them here. Please note that JoinCampus does not hold onto any user data after deletion and actions on this page are permanent and irreversible.</p>
            </div>
        </div>
        <div class="card-body">
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:post-deletion' %}?t=all">Permanently delete all your posts</a>
                    <p class="small">Deleting your posts is permanent. By deleting your posts are related data (likes and comments) will also be removed. Once you delete your posts you cannot retrieve them back and they will be permanently removed.</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:post-deletion' %}?t=comments">Permanently delete all your post comments</a>
                    <p class="small">Deleting your comments is permanent but it will not affect your posts. However, all the replies will be removed and they cannot be retrieved again.</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:post-deletion' %}?t=likes">Permanently delete all your post likes</a>
                    <p class="small">This will remove your likes from all the posts. This action is permanent and you cannot reverse it.</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:blog-deletion' %}?t=all">Permanently delete all your blogs</a>
                    <p class="small">Deleting your blogs is permanent. By deleting your posts are related data (likes and replies) will also be removed. Once you delete your blogs you cannot retrieve them back and they will be permanently removed.</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:blog-deletion' %}?t=replies">Permanently delete all your blog replies</a>
                    <p class="small">Deleting your replies is permanent but it will not affect your blogs. However, all the replies will be removed and they cannot be retrieved again.</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:blog-deletion' %}?t=likes">Permanently delete all your blog likes</a>
                    <p class="small">This will remove your likes from all the blogs. This action is permanent and you cannot reverse it.</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:course-deletion' %}?t=all">Permanently delete all your courses</a>
                    <p class="small">This will remove you as in enrolled person in all the courses</p>
                </div>
            </div>
            <div class="item-deletion">
                <div class="p-2 ">
                    <a class="h6 text-dark" href="{% url 'main:course-deletion' %}?t=reviews">Permanently delete all your courses reviews</a>
                    <p class="small">This will remove your replies on all the courses. This is permanent and your replies will be deleted from our database.</p>
                </div>
            </div>
        </div>
        <div class="card-body acdl border-top pt-1 box-s">
            <div class="item-deletion account-deletion">
                <div class="p-2">
                    <a class="h6 text-danger" href="{% url 'main:account-deletion' %}">Permanently delete your account</a>
                    <div class="pt-2">
                        <p style="font-size: 0.9rem;">Deleting your account is permanent. By following the further steps all your data will be removed form our database. You will not be able to retrieve any information after you delete your account.
                            When deleting your account, all content associated with your account will be removed permanently. Please note this is permanent and we cannot reverse this action.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}