{% load static %}
<!DOCTYPE html>

<html>
    <head>
      <div id="#headerPlaceholder"></div>
        <style>
            #navBarSearchForm input[type=text]{width:400px !important;}
        </style>
        <title>StuMatch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/d3a3fc2f19.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'logo/favicon_io/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
       
    </head>
    <body class="pb-5" >
     {% block javascript %}
     {% endblock javascript %}
     <div id="#navPlaceholder" class="fixed-top mb-4">{% include 'home/nav.html' %}</div>
        <div class="wrapper" >
            <div class="container-fluid pt-4">
                <div class="row">
                    <div class="col-sm-3"  style="margin-top: 54px;">
                      <div class="position-fixed ml-2" style="width: 22%;">
                        <!--style="border-radius: 40px; background-color: rgba(210, 230, 248, 0.192);"-->
                          <div class="side-tab-link-holder border-bottom">           
                              <div class="ml-3 mr-1">                   
                                  <div class="row h5 rounded font-weight-bold p-3  mnpglk" data-url="{% url 'home:buzz' %}" style="height: 4rem;">
                                    <div class="col-2 mt-1">
                                      <!--style="color: #788287;"-->
                                      <i class="fas fa-mask" style=" color: transparent; -webkit-text-stroke-width: 2px;-webkit-text-stroke-color: rgb(0, 0, 0);"></i>
                                    </div>
                                    <div class="col-10 mt-1">
                                      Buzz
                                    </div>
                                  </div>
                                  <div class="row h5 rounded font-weight-bold  p-3 mnpglk" data-url="{% url 'home:blog' %}">
                                    <div class="col-2 mt-1">
                                      <!-- style="color: #1ee321;"-->
                                      <i class="material-icons" style="font-size: 28px;">
                                        reorder
                                      </i>
                                    </div>
                                    <div class="col-10 mt-2">
                                      Blogs
                                    </div>
                                  </div>
                                  <div class="row  h5 rounded font-weight-bold  p-3 mnpglk" data-url="{% url 'home:courses' %}">
                                    <div class="col-2 mt-1">
                                      <!-- style="color: #731ee3;"-->
                                      <i class="material-icons-outlined" style="font-size: 28px;">
                                       book
                                      </i>
                                    </div>
                                    <div class="col-10 mt-2">
                                      Courses
                                    </div>
                                  </div>
                                  <div class="row  h5 rounded font-weight-bold  p-3 mnpglk" data-url="{% url 'home:users-posts' request.user.get_username %}">
                                    <div class="col-2 mt-1">
                                      <!--style="color: #1e6de3;"-->
                                      <i class="material-icons-outlined" style="font-size: 28px;">
                                        view_agenda
                                      </i>
                                    </div>
                                    <div class="col-10 mt-2">
                                      By You
                                    </div>
                                  </div>
                                  <div class="row h5 rounded font-weight-bold p-3  mnpglk" data-url="">
                                    <div class="col-2">
                                      <i class="material-icons" style="font-size: 28px;">
                                        bookmark_border
                                      </i>
                                    </div>
                                    <div class="col-10 mt-1">
                                      Bookmarks
                                    </div>
                                  </div>
                              </div>
                          </div>
                          {% block contentleft %}
                          {% endblock %}
                      </div>                   
                    </div>
                    <div class="col-sm-6 order-2">
                      <div class="mt-5" style="top: 54px;">
                        {% block content %}
                        {% endblock %}
                        <div class="d-sm-none" id="#footerPlaceholder">{% include 'home/footer.html' %}</div>
                      </div>
                    </div>
                    <div class="col-sm-3 order-sm-2 order-sm-2">
                        <div class="pt-2 mt-5">
                          {% block item %}
                          {% endblock %}
                        </div>
                        <div class="d-none d-md-block"  id="#footerPlaceholder">{% include 'home/footer.html' %}</div>
                    </div>       
                  </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-post" >
          <div class="modal-dialog modal-dialog-centered" style="overflow-y: hidden !important;">
            <div class="modal-content"></div>
          </div>
        </div>
        <div class="modal fade" id="modal-post-delete">
          <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content"></div>
          </div>
        </div>
        <div class="modal fade" id="modal-post-update">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="modal fade" id="modal-buzz" >
          <div class="modal-dialog modal-dialog-centered" style="overflow-y: hidden !important;">
            <div class="modal-content"></div>
          </div>
        </div>
        <div class="modal fade" id="modal-buzz-delete">
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content"></div>
          </div>
        </div>
        <script src="{% static 'dropzone/dist/dropzone.js' %}"></script>
        <script src="{% static 'initial/initial.js' %}"></script>
        <!--
        <script src="{% static 'js/post/like-api.js' %}"></script>
        <script src="{% static 'js/post/post-comments.js' %}"></script>
        <script src="{% static 'js/post/post_list.js' %}"></script>
        <script src="{% static 'js/post/comment.js' %}"></script>
        <script src="{% static 'js/post/comment-delete.js' %}"></script>
        <script src="{% static 'js/post/like-comment-api.js' %}"></script>
        <script src="{% static 'js/buzz/buzz.js' %}"></script>
        <script src="{% static 'js/buzz/buzz-like.js' %}"></script>
        <script src="{% static 'js/buzz/buzz-wot.js' %}"></script>
        <script src="{% static 'js/buzz/comment-b-like.js' %}"></script>
        <script src="{% static 'js/buzz/comment-delete.js' %}"></script>
        <script src="{% static 'js/buzz/buzz-delete.js' %}"></script>
        -->
        <script src="{% static 'js/buzz/buzzall.js' %}"></script>
        <script src="{% static 'js/post/postall.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
        
    </body>
</html>