{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <style>
            #navBarSearchForm input[type=text]{width:400px !important;}
        </style>
        <title>StuMatch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/d3a3fc2f19.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body class="main-bg-color">
     {% block javascript %}
     {% endblock javascript %}
     <nav class="navbar navbar-expand-lg sticky-top navbar-light nav-header-main" style="height: 3rem;">
      <span class="navbar-brand brand-home-header h1 display-1 my-0">StuMatch</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="mx-2 mb-1 form-inline d-inline w-50" style="height: 2rem;">
            <div class="input-group">
                <input type="text" class="form-control border border-right-0" placeholder="Search Stumatch" aria-label="Search">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border border-left-0 bg-light" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
          </form>
          <ul class="navbar-nav ml-auto mx-4">
              <li class="nav-item mx-0">
                  <a class="nav-link text-muted" href="{% url 'home:home' %}">Home</a>
              </li>
              <li class="nav-item mx-0">
                  <a class="nav-link text-muted" href="#">Profile</a>
              </li>
              <li class="nav-item mx-0">
                  <a class="nav-link text-muted" href="#">Message</a>
              </li>
              <li class="nav-item mx-0">
                  <a class="nav-link text-muted" href="#">Settings</a>
              </li>
              <li class="nav-item mx-0">
                  <a class="nav-link text-muted" href="{% url 'main:user_logout' %}">Logout</a>
              </li>
          </ul>
      </div>
      </nav>
        <div class="wrapper">
            <div class="container-fluid pl-4 pr-5 pt-4">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card side-tab-link-holder border-light mb-4" style="border-radius: 50px; background-color: rgba(210, 230, 248, 0.192);">           
                            <div class="card-body pb-1">
                              <img class="card-img-top" src="" alt="Profile Image">         
                              <h5 class="card-title font-weight-light">Welcome, {{ request.user.first_name }}!</h5>
                              <hr>
                            <div class="my-3 py-1">
                                <div class="py-3">
                                  <a href="#" class="card-link h5 font-weight-bold text-dark"><i class="fas fa-user-friends pr-2"></i>Friends</a>
                                </div>
                                <div class="py-3">
                                  <a href="#" class="card-link h5 font-weight-bold text-dark"><i class="fas fa-book pr-2"></i>Courses</a>
                                </div>
                                <div class="py-3">
                                  <a href="#" class="card-link h5 font-weight-bold text-dark"><i class="fas fa-portrait pr-2"></i>Your Posts</a>
                                </div>
                                <div class="py-3">
                                  <a href="#" class="card-link h5 font-weight-bold text-dark"><i class="fas fa-briefcase pr-2"></i>Jobs</a>   
                                </div>
                                <div class="py-3">
                                  <a href="#" class="card-link h5 font-weight-bold text-dark"><i class="fas fa-compass pr-2"></i>Connect</a>
                                </div>
                            </div>
                            </div>
                        </div>     
                    </div>
                    <div class="col-md-6">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-3">
                      <div class="card right-pannel-base border-0 bg-transparent">

                      </div>
                      <footer class="page-footer font-small bg-light pt-2">
                        <div class="mx-1 row"> 
                          <div class="mb-2">       
                            <a class="text-muted" href="#">
                              Help Center
                              </a><span class="mx-1">·</span>
                          </div>    
                          <div class="mb-2">       
                            <a class="text-muted" href="#">
                              About
                              </a><span class="mx-1">·</span>
                          </div>    
                          <div class="mb-2">       
                            <a class="text-muted" href="#">
                              Privacy
                              </a><span class="mx-1">·</span>
                          </div>                                                                   
                            <div class="mb-2">       
                              <a class="text-muted" href="#">About</a>
                            </div>                                             
                            <div class="mb-2">       
                              <a class="text-muted" href="#">
                                Guidlines
                                </a><span class="mx-1">·</span>
                            </div>                                                            
                            <div class="mb-2">       
                              <a class="text-muted" href="#">
                                Privacy Policy
                                </a>
                            </div>      
                        </div>
                        <div class="footer-copyright small mx-1 text-muted">StuMatch © 2020. All rights reserved
                          </div>
                      </footer> 
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>