{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
 <script src="{% static 'js/post.js' %}"></script>
{% block content %}
<div class="card">
  <div class="card-body  create-post-btn"  data-url="{% url 'home:post-create' %}">
    <div class="media mb-0 align-items-center " >
      <img class="img-create-post rounded-circle my-0 mr-3" style="width: 50px;height: 50px;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
        alt="Profile image">
          <span class="text-muted align-middle" style="font-size: 1.5rem;">What's new?</span>
    </div>  
  </div>
</div>
<div id="post-list">
  <div>
    {% include 'home/posts/home_post.html' %}
  </div>
</div>
<div class="modal fade" id="modal-post" style="overflow-y: show;">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div> 
<style>
  .create-post-btn:hover {
    cursor: pointer;
    background-color: rgb(245,245,245);
  }
</style>
{% endblock content %}
