{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <div class="card mb-1">
    <script src="{% static 'js/post.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/post/style.css' %}">
    <div class="card-body create-post-btn"  data-url="{% url 'home:post-create' %}">
      <div class="mb-0 align-items-center " >
        <img class="img-create-post rounded-circle my-0 mr-3" style="width: 40px;height: 40px;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
          alt="Profile image">
            <span class="text-muted align-middle" style="font-size: 1rem;">What's new?</span>
      </div>  
    </div>
  </div>
    <div class="border-bottom">
      <div class="my-1 d-flex justify-content-left">
        <div class="mr-2">
          <button class="btn btn-md main-link-button"><i class="fas fa-clone pr-1"></i>Posts</button>
        </div>
        <div class="mr-2">
          <button class="btn btn-md main-link-button"><i class="fas fa-hashtag pr-1"></i>Trending</button>
        </div>
        <div class="mr-2">
          <button class="btn btn-md  main-link-button"><i class="fas fa-newspaper pr-1"></i>News</button>
        </div>
        <div class="mr-2">
          <button class="btn btn-md  main-link-button"><i class="fas fa-pen-square pr-1"></i>Blogs</button>
        </div>
      </div>
    </div>
<div id="post-list">
  <div>
    {% include 'home/posts/home_post.html' %}
  </div>
</div>
<div class="modal fade" id="modal-post" style="overflow-y: show;">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div> 
<style>
  .create-post-btn:hover {
    cursor: pointer;
    background-color: rgb(245,245,245);
  }
  .main-link-button {
    border-radius: 20px;
    background-color: rgb(129,193,242);
  }
  .main-link-button:hover {
    opacity: 0.6;
  }
</style>
{% endblock content %}
