{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script src="{% static 'js/post.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/post/style.css' %}">
<div class="ml-1 card rounded-0">
    <div class="d-flex m-1 justify-content-left" >
      <div>
        <img class="img-create-post rounded-circle" style="width: 40px;height: 40px;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
        alt="Profile image">
      </div>
      <div class="ml-1 w-100">
        <input type="text" readonly="readonly" class="bg-light form-control create-post-btn" placeholder="What's new?"  data-url="{% url 'home:post-create' %}">
      </div>
      <div>
        <button class="ml-1 btn btn-md create-post-btn"  data-url="{% url 'home:post-create' %}">
          <i class="fas fa-camera"></i>
        </button>
      </div>
    </div>  
</div>
<div id="post-list">
  <div>
    {% include 'home/posts/home_post.html' %}
  </div>
</div>
<div class="modal fade" id="modal-post" style="overflow-y: show;">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content"></div>
  </div>
</div> 
<style>
  .create-post-btn:hover {
    cursor: pointer;
    background-color: rgb(245,245,245);
  }
  .main-link-button {
    border-radius: 20px;
    background-color: rgb(129,193,242);
  }
  .main-link-button:hover {
    opacity: 0.7;
  }
</style>
{% endblock content %}
