{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load ibuilder %}
{% block title %}
<title>By You - JoinCampus</title>
{% endblock %}
{% block content %}
<div class="mt-3 mb-2 p-1 ml-1 ">
  <div class="d-flex " id="_pol3">
    <div class="btn flex-fill mr-1 menu-link menu-link{{ post_active }}">
      <a  href="{% url 'home:users-posts' %}" style="text-decoration: none;">
          <span class="h6 text-center">Post</span>
      </a>
    </div>
    <div class="btn flex-fill mr-1 menu-link menu-link{{ blog_active }}">
      <a  href="{% url 'home:users-blogs' %}" style="text-decoration: none;">
          <span class="h6 text-center">Blog</span>
      </a>
    </div>
  </div>
  <div class="dropdown ">
    <button class="btn p-1 my-1 btn-light border btn-sm dropdown-toggle" type="button" id="d_li" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sort By: {{ o|capfirst }}
    </button>
    {% if post_active %}
    <div class="dropdown-menu mt-1" aria-labelledby="d_li">
        <a class="small dropdown-item" href="{% url 'home:users-posts' %}?o=latest">Latest</a>
        <a class="small dropdown-item" href="{% url 'home:users-posts' %}?o=oldest">Oldest</a>
        <a class="small dropdown-item" href="{% url 'home:users-posts' %}?o=title">Title</a>
        <a class="small dropdown-item" href="{% url 'home:users-posts' %}?o=likes">Most Likes</a>
        <a class="small dropdown-item" href="{% url 'home:users-posts' %}?o=comments">Most Comments</a>
    </div>
    {% elif blog_active %}
    <div class="dropdown-menu mt-1" aria-labelledby="d_li">
      <a class="small dropdown-item" href="{% url 'home:users-blogs' %}?o=latest">Latest</a>
      <a class="small dropdown-item" href="{% url 'home:users-blogs' %}?o=oldest">Oldest</a>
      <a class="small dropdown-item" href="{% url 'home:users-blogs' %}?o=title">Title</a>
      <a class="small dropdown-item" href="{% url 'home:users-blogs' %}?o=likes">Most Likes</a>
      <a class="small dropdown-item" href="{% url 'home:users-blogs' %}?o=replies">Most Replies</a>
  </div>
    {% endif %}
</div>
</div>
  <div>
    {% if post_active %}
    <div  id="post-list">
        <div id="_np2u"></div>
        {% include 'home/posts/home_post.html' with posts=posts %}
    </div>
    {% elif blog_active %}
    <div id="blog-list">
        {% include 'home/blog/blog_list.html' with blogs=blogs %}
    </div>
    {% endif %}
  </div>
<script src="{% static 'js/post/post.js' %}"></script>
{% endblock %}
