{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load ibuilder %}
{% block content %}
<ul class="nav ubu nav-pills nav-fill mb-3 border-bottom border-primary" id="pills-tab" role="tablist" style="border-width: 2px !important;">
    <li class="nav-item">
        <a class="nav-link active" id="pills-post-tab" data-toggle="pill" href="#post-list" role="tab" aria-controls="pills-post" aria-selected="true">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-buzz-tab" data-toggle="pill" href="#buzz-list" role="tab" aria-controls="pills-buzz" aria-selected="false">Buzzes</a>
    </li>
    <li class="nav-item" style="margin-right: -0.01rem;">
        <a class="nav-link" id="pills-blog-tab" data-toggle="pill" href="#blog-list" role="tab" aria-controls="pills-blog" aria-selected="false">Blog</a>
    </li>
</ul>
  <div class="tab-content" id="pills-tabContent">
    <div  id="post-list" class="tab-pane fade show active"  role="tabpanel" aria-labelledby="pills-post-tab">
        <div id="_np2u"></div>
        {% include 'home/posts/home_post.html' with posts=posts %}
    </div>
    <div id="buzz-list" class="tab-pane fade"  role="tabpanel" aria-labelledby="pills-buzz-tab">
        <div id="_nb21" class="buzz-ctr"></div>
        {% include 'home/buzz/buzz_list.html' with buzzes=buzzes %}
    </div>
    <div id="blog-list" class="tab-pane fade"  role="tabpanel" aria-labelledby="pills-blog-tab">
        {% include 'home/blog/blog_list.html' with blogs=blogs %}
    </div>
  </div>
<script src="{% static 'js/post/post.js' %}"></script>
{% endblock %}
{% block contentleft %}
<div class="row h5 rounded font-weight-bold mnpgl p-3" data-toggle="modal" data-target="#exampleModal">
    <div class="col-2">
      <i class="btn-light btn-b-circle material-icons" style="font-size: 28px; ">add</i>
    </div>
    <div class="col-10 d-none d-lg-block mt-2">
      <span class="ml-2">Create</span>
    </div>
</div>
{% endblock %}