{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'main:update-user-email-signup' %}" class="update-email-signup-form">
	{% csrf_token %}
		<div class="modal-header border-0 pl-0 pr-0 mb-0">
		<h5 class="modal-title col-12 text-center" >Update Email
		<button type="button" class="close"   style="margin-left: 10x; margin-right: -10px;"  data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button></h5>
		</div>
		<div class="modal-body text-center p-0">
        <p class="mx-1">Enter a new email address instead of {{ email }} to verify your account. Make sure to check your spam folder.</p>
        <div class="form-label-group">
            <input type="text" name="email" id="inputText" class="form-control" placeholder="Enter new email" required autofocus>
            <br/>
        </div>
		</div>
		<div class="modal-footer border-0">
		<button type="submit" class="mx-1 btn btn-light text-center" style="border-radius: 20px;">Update Email</button>
		</div>
</form>
