{% load static %}
<!DOCTYPE html>
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180528762-1"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-180528762-1');</script>
  <title>{% block title %}{{user.get_username}} - JoinCampus{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_folder/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_folder/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_folder/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon_folder/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon_folder/safari-pinned-tab.svg' %}" color="#90c4f5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{% static 'EasyAutoComplete/easy-autocomplete.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'EasyAutoComplete/jquery.easy-autocomplete.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/d3a3fc2f19.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/post/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="pb-5 bg-background" >
  <div id="#navPlaceholder" class="fixed-top mb-4">{% include 'home/nav.html' %}</div>
  <div class="wrapper">
    <div class="container pt-4 u_pctr">   
        {% block content %}{% endblock %}
    </div>
  </div>
  <div class="modal fade" id="modal-post">
    <div class="modal-dialog modal-dialog-centered" style="overflow-y: hidden !important;">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="modal fade" id="modal-report">
    <div class="modal-dialog modal-dialog-centered" style="overflow-y: hidden !important;">
      <div class="modal-content"></div>
    </div>
  </div>
  <script>$(document).ready(function () {$('.carousel').each(function() {var c = this;$(c).find(".carousel-item").removeClass('active');$(c).find(".carousel-item").filter(':first').addClass("active");});});</script>
  <script src="{% static 'dropzone/dist/dropzone.js' %}"></script>
  <script src="{% static 'initial/initial.js' %}"></script>
  <!--<script src="{% static 'js/post/postall.js' %}"></script>-->
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/profiles/main.js' %}"></script>
  <script src="{% static 'EasyAutoComplete/jquery.easy-autocomplete.min.js' %}"></script>
  <script>
     
  </script>
</body>
</html>