{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'main:block-user' hid=will_be_blocked.get_hashid %}" class="block-user-form">
	{% csrf_token %}
		<div class="modal-header border-0 pl-0 pr-0 mb-0">
			<h5 class="modal-title col-12 text-center" >Block {{ will_be_blocked.first_name }}
				<button type="button" class="close"   style="margin-left: 10x; margin-right: -10px;"  data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</h5>
		</div>
		<div class="modal-body text-center p-0">
			<p class="mx-1">{{ wants_to_block.first_name }}, Are you sure you want to block {{ will_be_blocked.get_full_name }}?</p>
		</div>
		<div class="modal-footer border-0">
			<button type="submit" class="mx-1 btn btn-danger text-center" style="border-radius: 20px;">Block</button>
		</div>
</form>
