{% extends "main/userhome/base_request_private.html" %}
{% load crispy_forms_tags %}
{% load ibuilder %}
{% load static %}
{% block content %}
<div class="mt-5">
    <div class="mx-auto col-sm-10">
        <div class="img-user name-user mt-4 p-2">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="ppro-img">
                        <img class="img-create-post rounded-circle" style="height: 8rem;width: 8rem;" src="{{ user.image.url }}"/>
                    </div>
                </div> 
            </div>
            <div class="f-name mt-3">
                <div class="content-holder">
                    <h4 class="text-center text-dark">{{ user.get_full_name }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 message-private d-flex my-2 justify-content-between p-2">
            <div class="w-100 card status-friend show-message">
                <div class="card-body">
                    <p class="card-text text-muted">You have blocked this user, unblock to view their profile.</p>
                    <div class="unblock-ctr">
                        <form method="POST" class="w-100" action="{% url 'main:unblock-user' hid=user.get_hashid %}">
                            <button type="submit" class="btn col-12" style="background-color: rgb(226,230,234);">
                                Unblock {{ user.get_full_name }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}