{% extends "main/userhome/base_request_private.html" %}
{% load crispy_forms_tags %}
{% load ibuilder %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div class="mt-5">
    <div class="mx-auto col-sm-10">
        <div class="img-user name-user mt-4 p-2">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="ppro-img">
                        {% thumbnail user.image "150x150" crop="80% top" as im %}
                            <img class="rounded-circle" style="margin:{{ im|margin:'150x150' }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                        {% endthumbnail %}    
                    </div>
                </div>
            </div>
            <div class="f-name mt-3">
                <div class="content-holder">
                    <h4 class="text-center text-dark">{{ user.get_full_name }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 message-private d-flex my-2 justify-content-between p-2">
            <div class="w-100 card status-friend show-message">
                <div class="card-body text-center">
                    <p class="card-text text-muted">You have blocked this user, unblock to view their profile.</p>
                    <div class="unblock-ctr">
                        <form method="POST" class="w-100" action="{% url 'main:unblock-user' hid=user.get_hashid %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default border" >
                                Unblock
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}