{% extends "main/userhome/base_request_private.html" %}
{% load crispy_forms_tags %}
{% load ibuilder %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div class="mt-5">
    <div class="mx-auto col-sm-10">
        <div class="img-user name-user mt-4 p-2">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="ppro-img">
                        {% thumbnail user.image "150x150" crop="80% top" as im %}
                            <img class="rounded-circle" style="margin:{{ im|margin:'150x150' }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                        {% endthumbnail %}    
                    </div>
                </div>
            </div>
            <div class="f-name mt-3">
                <div class="content-holder">
                    <h3 class="font-weight-bolder  text-center text-dark">{{ user.get_full_name }}</h3>
                </div>
            </div>
            <div class="mt-2 p-2 u-bio">
                <p class="text-center text-muted">{{ user.bio }}</p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 message-private d-flex my-2 justify-content-between p-2">
            <div class="w-100 card status-friend show-message">
                <div class="card-body">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="pl-3 pt-1 message-retrieve" style="margin-bottom: -12px !important;">
                            <p style="font-size: 1rem;">
                                {{ status_message }}
                            </p>
                        </div>
                        <div class="fb-status mr-2">
                            {% if sent_request %}
                            <div class="friend-status-ctr">
                                {% include 'main/friends/accept_reject_request.html' with user=user %}
                            </div>
                            {% else %}
                            <div class="friend-status-ctr">
                                {% include 'main/friends/friend_status.html' with user=user pending=pending %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 p-2 aler-tl">
        <div class="d-flex row align-items-center justify-content-center">
            <div class="rounded p-1 mr-4 d-flex align-items-center">
                <div>
                    <svg style="color:rgb(143, 143, 143);" width="30" height="30" viewBox="0 0 16 16" class="bi bi-lock"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                    </svg>
                </div>
            </div>
            <div>
                <div>
                    <h5 class="mt-1 text-center text-muted">This User is Private</h5><br />
                </div>
                <div style="margin-top: -25px;">
                    <span class="text-center text-muted small">
                        Add this user to view their profile.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}