{% extends "main/userhome/base_friend_public.html" %}
{% load crispy_forms_tags %}
{% load ibuilder %}
{% load thumbnail %}
{% load static %}
{% block profilecontent %}
<div class="p-2 user-friends">
    <div class="friends-all my-2">
        <div class="card border-0">
            <div class="card-header bg-transparent border-bottom-0 d-flex justify-content-between">
                <div>
                    <strong>Friends</strong>
                </div>
                <div>
                    <span class="text-muted">{{ num_friends }} friends</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center pl-4 pr-4 pt-4 pb-2 friends-list infinite-container">
                {% for friend in friends %}
                <div class="infinite-item m-1 card" style="width: 12.7rem !important;">
                    <div class="d-flex justify-content-center">
                        {% thumbnail friend.image "110x110" crop="80% top" as im %}
                        <img class="rounded-circle" style="margin:{{ im|margin:'110x110' }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                        {% endthumbnail %}
                    </div>
                    <div class="card-body">
                        <div class="card-friend-name-holder">
                            <a class="card-link text-dark"
                                href="{{ friend.author.get_absolute_url }}">{{ friend.get_full_name }}</a>
                        </div>
                    </div>
                    <div class="px-4 py-2 d-flex user-info">
                        {% if friend.university %}
                            <div class="u_pui">
                                <span class="text-muted">Goes to </span>
                                <strong>
                                    {{ friend.university|capfirst }}
                                </strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </div>
</div>

{% if friends.has_next %}
    <a class="infinite-more-link" href="?id={{ user.get_hashid }}&page={{ friends.next_page_number }}"></a>
{% endif %}

<div class="mt-2 loading" style="display: none;">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}