{% load static %}
<!DOCTYPE html>

<html>
    <head>
      <div id="#headerPlaceholder"></div>
        <style>
            #navBarSearchForm input[type=text]{width:400px !important;}
        </style>
        <title>StuMatch</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/courses/main.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/d3a3fc2f19.js" crossorigin="anonymous"></script>
        <script src="{% static 'EasyAutoComplete/jquery.easy-autocomplete.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'EasyAutoComplete/easy-autocomplete.min.css' %}">    
        <link rel="shortcut icon" href="{% static 'logo/favicon_io/favicon.ico  ' %}" />
    </head>
    <body>
        <div id="#navPlaceholder" class="fixed-top mb-4">{% include 'home/nav.html' %}</div>
        <div class="wrapper">
            <div class="container-fluid pl-4 pr-5">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="position-fixed" style="top: 64px;">
                            <div class="mb-2">
                                <div class="border-bottom">
                                    <h4 class="m-1 display-4 card-tittle" style="font-size: 2rem;">
                                        Courses
                                    </h4>
                                </div>
                            </div>
                            <div class="list-group bg-transparent">
                                <a href="{% url 'home:courses' %}" id="user-courses" class="list-group-item list-group-item-action"><span class="mr-2">
                                    <img src="{% static 'default/courses/books.png' %}" alt="Course Image" style="height:36px;width: 36px;">
                                </span>Your Courses</a>
                                <a  href="{% url 'home:courses-add' %}" id="course-add" class="list-group-item list-group-item-action">
                                    <span class="mr-2">
                                        <img src="{% static 'default/courses/addc.png' %}" alt="Course Image" style="height:36px;width: 36px;">
                                    </span>Add a Course</a>
                                <a href="#" class="list-group-item list-group-item-action"><span class="mr-2">
                                    <img src="{% static 'default/courses/studentsgroup.png' %}" alt="Course Image" style="height:36px;width: 36px;">
                                </span>Students you may know</a>
                                <a href="{% url 'home:courses-saved' %}" class="list-group-item list-group-item-action"><span class="mr-2">
                                    <img src="{% static 'default/courses/clk.png' %}" alt="Course Image" style="height:36px;width: 36px;">
                                </span>Saved Courses</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 order-2 mt-4">
                        <div class="mt-5">
                            {% block content %}
                            {% endblock %}
                            <div class="d-sm-none" id="#footerPlaceholder">{% include 'home/footer.html' %}</div>
                        </div>
                    </div>
                    <div class="col-sm-4 order-sm-2 order-sm-2">
                            <div class="mt-5 pt-2">
                                {% block item %}
                                {% endblock %}
                            </div>  
                            <div class="d-none d-md-block" id="#footerPlaceholder">{% include 'home/footer.html' %}</div>
                    </div>
                </div>       
            </div>
        </div>
        <script src="{% static 'js/courses/vote_course.js' %}"></script>
    </body>
</html>
