{% extends "home/courses/base.html" %}
{% load crispy_forms_tags %}
{% load ibuilder %}
{% load static %}
{% block title %}
    <title>Your Courses - Corscope</title>
{% endblock %}
{% block content %}
<div class="infinite-container mb-4">
    {% if courses %}
    <div class="m-0 mb-2 border-bottom pb-1 p-0" style="margin-left: -0.95rem !important;">
        <div class="m-0">
            <h6 class="display-4" style="font-size: 2.2rem;">Courses you've taken</h4>
        </div>
    </div>
    {% endif %}
    {% for course in courses %}
    {% div_class as veid %}
    {% with par2=course.course_instructor_slug par1=course.course_university_slug %}
    <div class="infinite-item mb-2" id="_cc_{{ veid }}" >
        <div class="row border bg-white rounded-0">
            <div class="col-sm-12 p-0">
                <div class="d-flex justify-content-between ml-1 mr-1 border-bottom">
                    <div class="d-flex">
                        <div class="ml-1">
                            <a class="text-dark" href="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}"><h5 class="pt-1 font-weight-bold">{{ course.course_code }}</h5></a>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-sm no-border" type="button" id="d_l" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-menu mt-1" aria-labelledby="d_l">
                                <button class="dropdown-item sh-shr-c" data-url="{% url 'home:course-share' hid=course.get_hashid %}"><i class="mr-1 fas fa-share"></i>Share</button>
                                <button class="dropdown-item sh-rmv-c" data-veid="{{ veid }}" data-url="{% url 'home:course-remove' hid=course.get_hashid %}">
                                <i class="mr-1 fas fa-trash"></i>Remove Course</button>
                                <a class="btn no-border dropdown-item" style="text-decoration: none;"  href="{% url 'home:course-instructors' course.course_university_slug course.course_code %}">
                                    <i class="mr-1 fas fa-chalkboard-teacher"></i>All instructors</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-cplx {{ course.user_complexity_btn|cut:' ' }}" data-toggle="tooltip" data-placement="bottom" title="You said the course difficulty is {{ course.user_complexity }}"></button>
                    </div>
                </div>
                <div class="row mt-1 mx-1">
                    <div class="c_dis mb-1 course-goto btn-outline-primary text-center" data-url="{%url 'home:course-instructor' par1 par2 %}">
                        <span class="text-dark">Instructor:</span><span class="ml-1">{{ course.course_instructor|capfirst }}</span>
                    </div>
                    <div class="c_dis mb-1 course-goto btn-outline-primary text-center">
                        <span class="text-dark">University:</span><span class="ml-1">{{ course.course_university|capfirst }}</span>
                    </div>
                    <div class="c_dis mb-1 text-center">
                        <span class="text-dark">Year:</span><span class="ml-1">{{ course.course_year }}</span>
                    </div>
                    <div class="c_dis mb-1 text-center">
                        <span class="text-dark">Semester:</span><span class="ml-1">{{ course.sem }}</span>
                    </div>
                </div>
                <div class="d-flex border-top justify-content-between mb-0 mt-1">
                    <div class="d-flex votes-container ml-1" style="margin-top: -2px !important;">
                        {% include 'home/courses/course_vote.html' with course=course %}
                    </div>
                    <div class="mb-0">
                        <span class="mr-1 small text-muted">{{ course.get_user_count }} {% if course.get_user_count == 1 %}<span>person has</span>{% else %}<span>people have</span>{% endif %} enrolled in this course. See them <a href="#">here</a>.</span>
                    </div>
                </div>
            </div>   
        </div>   
    </div>
    {% endwith %}
    {% empty %}
    <div class="card" style="margin-left: -0.85rem !important;">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h4 class="text-muted">You haven't added any course.</h4>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if courses.has_next %}
    <a class="infinite-more-link" href="?page={{ courses.next_page_number }}"></a>
    {% endif %}
    <div class="mt-2 loading" style="display: none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/courses/courses.js' %}"></script>
{% endblock content %}
{% block item %}

{% endblock %}