{% load static %}
{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'home:course-auto-add' course_code=course.course_code course_instructor_slug=course.course_instructor_slug course_university_slug=course.course_university_slug %}"  
class="course-auto-add-form" enctype="multipart/form-data" autocomplete="off">
	{% csrf_token %}
	<div class="modal-header text-center">
		<h5 class="modal-title col-12 text-center">Add Course
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</h5>
    </div>
    <div class="d-flex flex-column justify-content-between">
        <div class="modal-body" style="overflow-y: auto; margin:0;">
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="my-2 row align-items-center d-flex">
                <div class="col-12 w-100">
                    <span class="text-muted">
                        {{ field.label }}
                    </span>
                </div>
                <div class="col-sm-12 w-100" style="font-size: 0.93rem;">
                    {{ field }}
                    {% if field.name|stringformat:"s" == "course_code" %}
                    <div class="mb-1 p-1 border rounded query-result bg-white" id="crs-cc-dp">
                        <ul class="list-group list-group-flush" style="max-height: 200px; overflow-y: auto;"></ul>
                    </div>
                    {% elif field.name|stringformat:"s" == "course_instructor" %}
                    <div class="mb-1 p-1 border rounded query-result bg-white" id="crs-ins-dp"
                        style="text-transform: capitalize;">
                        <ul class="list-group list-group-flush" style="max-height: 200px; overflow-y: auto;"></ul>
                    </div>
                    {% elif field.name|stringformat:"s" == "course_instructor_fn" %}
                    <div class="mb-1 p-1 border rounded query-result bg-white" id="crs-ins-fn-dp"
                        style="text-transform: capitalize;">
                        <ul class="list-group list-group-flush" style="max-height: 200px; overflow-y: auto;"></ul>
                    </div>
                    {% endif %}
                    <span class="small text-muted">{{ field.help_text }}</span>
                    <span class="text-danger">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
	<div class="modal-footer col-12">
		<button type="submit" class="btn btn-primary"  style="border-radius: 20px; width: 100%;">Add Course</button>
	</div>
</form>
<script src="{% static 'js/courses/course-add.js' %}"></script>
