{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'home:course-remove' hid=course.get_hashid %}" class="remove-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title display-4" style="font-size: 0.9rem;">Remove Course</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		<p class="lead">Are you sure you want to remove this course from your courses?</p>
		</div>
		<div class="modal-footer">
		<button type="button" class="mx-1 btn btn-sm btn-secondary" style="border-radius: 20px;" data-dismiss="modal">Close</button>
		<button type="submit" class="mx-1 btn btn-sm btn-danger" style="border-radius: 20px;">Remove</button>
		</div>
</form>
