{% load crispy_forms_tags %}
<form method="POST" data-url="{% url 'home:course-share' hid=course.get_hashid %}" class="share-course-form">
	{% csrf_token %}
		<div class="modal-header border-0 p-1">
        <h5 class="modal-title text-center col-12 display-4" style="font-size: 1.4rem;">Share Course
            <button type="button" class="no-border close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
        </div>
        <div id="before-success">
            <div class="modal-body col-12 text-center">
                <p class="h6">Do you want to share taking {{ course.course_code }} with others?</p>
            </div>
            <div class="modal-footer border-0 ">
                <button type="submit" class="col-12 btn btn-md border-0 small btn-primary" style="border-radius: 20px;">
                    Share
                </button>
            </div>
        </div>
        <div id="success_tic" style="display: none;">
            <div class="page-body">
                <div class="head">  
                <h3 style="margin-top:5px;">Shared Successfully!</h4>
                </div>
                <h1 style="text-align:center;">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                <h1>
            </div>
        </div>
</form>

 