{% load ibuilder %}
{% load static %}
<script src="{% static 'js/courses/vote_course.js' %}"></script>
<link rel="stylesheet" href="{% static 'icons/styles.css' %}">
{% with course=course %}
{% check_is_liked as liked %}
{% check_not_liked as disliked %}
<form method="POST" class="m-0 p-0 course-vote-form">
    {% csrf_token %}
    <div class="d-flex justify-content-start">
        {% if liked %}
        <div>
            <button class="p-0 btn btn-lg no-border rounded-0" style="width: 1.41rem;height: 1.41rem;display: inline-block;pointer-events: none;">
                <div class="icon-arrow-up" style="color:  rgb(43, 98, 153);"></div>
            </button>
        </div>
        <div> 
            <button class="p-0 btn btn-sm no-border rounded-0 c_v" type="submit" data-token="{{ csrf_token }}" data-url="{% url 'home:course-vote' hid=course.get_hashid  code=course.course_code  status='rmv' %}" style="height: 1.41rem;">
                <span class="text-primary mx-1 font-weight-bolder small">{{ course.average_voting }}</span>
            </button>
        </div>
        <div>
            <button class="p-0 btn btn-lg no-border rounded-0 c_v" type="submit" data-token="{{ csrf_token }}" data-url="{% url 'home:course-vote' hid=course.get_hashid  code=course.course_code  status='dislike' %}" style="width: 1.41rem;height: 1.41rem;display: inline-block;">
                <div class="icon-arrow-down" style="color:  rgb(185, 186, 187);"></div>
            </button>
        </div>
        {% elif disliked %}
        <div>
            <button class="p-0 btn btn-lg no-border rounded-0 c_v" type="submit" data-token="{{ csrf_token }}" data-url="{% url 'home:course-vote' hid=course.get_hashid  code=course.course_code  status='like' %}" style="width: 1.41rem;height: 1.41rem;display: inline-block;">
                <div class="icon-arrow-up" style="color:  rgb(185, 186, 187);"></div>
            </button>
        </div>
        <div>
            <button class="p-0 btn btn-sm no-border rounded-0 c_v" type="submit" data-token="{{ csrf_token }}" data-url="{% url 'home:course-vote' hid=course.get_hashid  code=course.course_code status='rmv' %}" style="height: 1.41rem;">
                <span class="text-danger mx-1 font-weight-bolder small">{{ course.average_voting }}</span>
            </button>
        </div>
        <div>
            <button class="p-0 btn btn-lg no-border rounded-0" style="width: 1.41rem;height: 1.41rem;display: inline-block;pointer-events: none">
                <div class="icon-arrow-down" style="color:  rgb(240, 78, 78);"></div>
            </button>
        </div>
        {% else %}
        <div>
            <button class="p-0 btn btn-lg no-border rounded-0 c_v"  type="submit" data-token="{{ csrf_token }}" data-url="{% url 'home:course-vote' hid=course.get_hashid  code=course.course_code status='like' %}" style="width: 1.41rem;height: 1.41rem;display: inline-block;">
                <div class="icon-arrow-up" style="color:  rgb(185, 186, 187);"></div>
            </button>
        </div>
        <div>
            <button class="p-0 btn btn-sm no-border rounded-0" style="height: 1.41rem;display: inline-block;pointer-events: none;">
                <span class="text-muted mx-1 font-weight-bolder small">{{ course.average_voting }}</span>
            </button>
        </div>
        <div>
            <button class="p-0 btn btn-lg no-border rounded-0 c_v" type="submit" data-token="{{ csrf_token }}" data-url="{% url 'home:course-vote' hid=course.get_hashid  code=course.course_code  status='dislike' %}" style="width: 1.41rem;height: 1.41rem;display: inline-block;">
                <div class="icon-arrow-down" style="color:  rgb(185, 186, 187);"></div>
            </button>
        </div>
        {% endif %}
    </div>
</form>
{% endwith %}