{% extends 'home/courses/base.html' %}
{% load static %}
{% block content %}
{% load ibuilder %}
<script src="{% static 'js/courses/course-instructor.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/courses/main.css' %}">
<div class="d-flex border-bottom justify-content-between">
    <div class="mr-2">
        <h4 class="font-weight-bolder">{{ code }}</h4>
        <h6 class="text-muted">{{ university|capfirst }}</h6>
        {% if taken %}
        <br>
        <span class="mt-5 small text-muted">You have taken this course.</span>
        {% endif %}
    </div>
    <div>
        <img class="mb-1" src="{% static 'default/courses/c-log.png' %}" alt="Course Image" style="margin-top:-20px;height:120px;width: 120px;">
    </div>
</div>
<div class="card-columns mt-1">
    {% for course in courses %}
    {% bg_rand as bgrnd %}
    <div class="card mb-2 bg-white">
        <div class="d-flex justify-content-between course-title-box"  data-url="{% url 'home:course-detail' course.course_university course.course_instructor course.course_code %}" style="height:5rem; background-color: {{ bgrnd }};">
            <div class="ml-2"> 
                <a class="mx-2 my-auto text-white"  style="text-decoration: none;" href="{%url 'home:course-instructor' par1=course.course_university par2=course.course_instructor %}"><h3 class="pt-1 font-weight-bold">{{ course.course_instructor|capfirst }}</h3></a>
            </div>
          </div>
        <div class="row p-0">
            <div class="col-sm-12" >
                <div class="d-flex flex-column p-1">         
                    <div class="d-flex justify-content-right">
                        <div class="border p-1 border-rounded shadow-sm t-stu">
                            <span class="text-dark">Total Enrollments: </span><span class="font-weight-bolder mr-1">{{ course.get_user_count_ins }}</span>
                        </div>
                        <div style="margin-left: 3px;margin-right: 2px;">
                        </div>
                        <div class="t-stu p-1 border border-rounded shadow-sm">
                            <span class="text-dark">Average Difficulty: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity|cut:' ' }}">{{ course.average_complexity }}</span>
                        </div>
                    </div>
                    <div class="t-stu mt-1">
                        <div class="border border-rounded p-1 shadow-sm" style="display: inline-block;">
                            <span class="text-dark">Average Difficulty with this instructor: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity_ins|cut:' ' }}">{{ course.average_complexity_ins }}</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="votes-container ">
                        {% include 'home/courses/course_vote.html' with course=course %}
                    </div>
                    <div >
                        <button class="small text-muted btn-sm small btn no-border dropdown-item"><i class="mr-1 fas fa-bookmark"></i>Save</button>
                    </div> 
                </div>    
            </div>     
        </div>
    </div>
    {% endfor %}
</div>
<style>
    @media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
</style>
{% endblock %}