{% extends 'home/courses/base.html' %}
{% load static %}
{% block title %}
    <title>Professor {{ instructor|capfirst }} - JoinCampus</title>
{% endblock %}
{% block content %}
{% load ibuilder %}
<!--
<script src="{% static 'js/courses/save-course.js' %}"></script>-->
<script src="{% static 'js/courses/course-instructor.js' %}"></script>
<div class="d-flex border-bottom justify-content-between">
    <div class="mr-2">
        <h4 class="font-weight-bolder">Professor {{ instructor|capfirst }}</h4>
        <a href="{% url 'home:university-detail' %}?u={{ university }}&obj=std"><h6 class="text-muted">{{ university|capfirst }}</h6></a> 
    </div>
    <div>
        <img class="mb-1" src="{% static 'default/courses/instructors-char-1.png' %}" alt="Course Image" style="margin-top:-10px;height:120px;width: 100px;">
    </div>
</div>
<div class="course-list mt-1">
    {% for course in courses %}
    {% bg_rand as bgrnd %}
    <div class="card mb-2 bg-white">
        <div class="d-flex justify-content-between course-title-box"  data-url="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}" style="height:6rem; background-color: {{ bgrnd }};">
            <div class="ml-1"> 
                <a class="mx-2 my-auto text-white"><h3 class="pt-1 font-weight-bold">{{ course.course_code }}</h3></a>
            </div>
          </div>
        <div class="row p-0">
            <div class="col-sm-12" >
                <div class="d-flex flex-column p-1">         
                    <div class="d-flex justify-content-right">
                        <div class="border p-1 border-rounded shadow-sm t-stu">
                            <span class="text-dark">Total Enrollments: </span><span class="font-weight-bolder mr-1">{{ course.get_user_count_ins }}</span>
                        </div>
                        <div style="margin-left: 3px;margin-right: 2px;">
                        </div>
                        <div class="t-stu p-1 border border-rounded shadow-sm">
                            <span class="text-dark">Average Difficulty: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity|cut:' ' }}">{{ course.average_complexity }}</span>
                        </div>
                    </div>
                    <div class="t-stu mt-1">
                        <div class="border border-rounded p-1 shadow-sm" style="display: inline-block;">
                            <span class="text-dark">Average Difficulty with this instructor: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity_ins|cut:' ' }}">{{ course.average_complexity_ins }}</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="votes-container ">
                        {% include 'home/courses/course_vote.html' with course=course %}
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-sm " type="button" id="d_li" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-h" ></i>
                        </button>
                        <div class="dropdown-menu bg-white dropdown-menu-left mt-1" aria-labelledby="d_li">
                            <form method="POST" class="course-save-form">
                                {% csrf_token %}
                                <button class="small btn-sm btn no-border dropdown-item save-course" type="submit" data-url="{% url 'home:course-save' course.id %}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
                                        <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                                      </svg>
                                      <span class="mx-1">Save</span></button>
                            </form>
                          <a class="small btn btn-sm no-border dropdown-item" style="text-decoration: none;"  href="{% url 'home:course-instructors' course.course_university_slug course.course_code %}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14.5 3A1.5 1.5 0 0 0 13 1.5H3A1.5 1.5 0 0 0 1.5 3v5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H9a.5.5 0 0 0 0 1h4a1.5 1.5 0 0 0 1.5-1.5V3z"/>
                                <path fill-rule="evenodd" d="M4.5 6a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6.5H5a.5.5 0 0 1-.5-.5z"/>
                                <path fill-rule="evenodd" d="M10.354 5.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
                              </svg>
                              <span class="mx-1">All Instructors</span></a>
                        </div>
                    </div>
                </div> 
            </div>     
        </div>
    </div>
    <div class="modal fade" id="modal-save-course">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-header border-0  p-1">
                <h5 class="modal-title col-12 text-center font-weight-bolder">Save Course</h5>
            </div>
              <div class="moda-body text-center border-0 p-2">
                  <hp class="mt-2 col-8 text-center text-message text-danger"></p>
              </div>
              <div class="modal-footer border-0 p-1">
                <button type="button" class="btn btn-secondary"  data-dismiss="modal" style="border-radius: 20px; width: 100%;">Close</button>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
