{% extends 'home/courses/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/courses/main.css' %}">
<div class="d-flex mb-2 border-bottom justify-items-left">
    <div class="mr-2">
        <h4 class="font-weight-bolder">{{ instructor|capfirst }}</h4>
        <h6 class="text-muted">{{ university|capfirst }}</h6>
    </div>
</div>
<div class="course-list">
    {% for course in courses %}
    <div class="card shadow-sm col-sm-12 bg-white mb-1">
        <div class="row">
            <div class="col-sm-12" >
                <div class="d-flex flex-column p-1">
                    <div class="d-flex">
                        <div>
                            <h5 class="pt-1 font-weight-bold">{{ course.course_code }}</h5>
                        </div>
                    </div>            
                    <div class="d-flex justify-content-right">
                        <div class="border p-1 border-rounded shadow-sm t-stu">
                            <span class="text-dark">Total students: </span><span class="font-weight-bolder mr-1">{{ course.get_user_count_ins }}</span>
                        </div>
                        <div style="margin-left: 3px;margin-right: 2px;">
                        </div>
                        <div class="t-stu p-1 border border-rounded shadow-sm">
                            <span class="text-dark">Average Difficulty: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity|cut:' ' }}">{{ course.average_complexity }}</span>
                        </div>
                    </div>
                    <div class="t-stu mt-1">
                        <div class="border border-rounded p-1 shadow-sm" style="display: inline-block;">
                            <span class="text-dark">Average Difficulty with this instructor: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity_ins|cut:' ' }}">{{ course.average_complexity_ins }}</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex border-top votes-container ">
                    {% include 'home/courses/course_vote.html' with course=course %}
                </div>
            </div>     
        </div>
    </div>
    {% endfor %}
</div>
<style>
    .cplx.Easy {
        color: rgba(0, 204, 0, 0.918);
    }
    .cplx.Medium {
        color:rgba(243, 243, 89, 0.918);
    }
    .cplx.Hard {
        color:rgba(245, 76, 76, 0.918);
    }
    .cplx.MostFailed {
        color:rgba(0, 0, 0, 0.918);
    }
</style>
{% endblock %}
