{% extends "home/courses/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>{{ course.course_code }} Students </title>
{% endblock %}
{% block content %}
<div class="pb-2 mb-2 course-info">
    <div class="d-flex border-bottom justify-content-between pt-3">
        <div class="mr-2">
            <div class="d-flex">
                {% if o != 'all' %}
                <a class="text-dark"
                    href="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}">
                    <h4 class="font-weight-bold">{{ course.course_code }}</h4>
                </a>
                {% else %}
                <a class="text-dark"
                    href="{% url 'home:course-detail' course.course_university_slug 'ALL' course.course_code %}?rw=all">
                    <h4 class="font-weight-bold">{{ course.course_code }}</h4>
                </a>
                {% endif %}
            </div>
            <div>
                <div class="mt-2 my-1">
                    <a href="{% url 'home:university-detail' %}?u={{ university }}&obj=std">
                        <span class="text-primary">
                            <span>
                                <i class="fas fa-university mr-1"></i>
                            </span>{{ course.course_university }}
                        </span>
                    </a> 
                </div>
                {% if o != 'all' %}
                <div class="d-flex align-items-center">
                    <svg width="16" height="16"
                        viewBox="0 0 16 16" class="mr-2 i bi-layers" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z" />
                        <path fill-rule="evenodd"
                            d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z" />
                    </svg>
                    <a class="text-dark" href="{%url 'home:course-instructor' par2=course.course_instructor_slug par1=course.course_university_slug %}">
                        <span>{{ course.course_instructor_fn|capfirst }} {{ course.course_instructor|capfirst }}</span>
                    </a>
                </div>
                {% endif %}
            </div>         
            <div class="mt-2">
                {% if o != 'all' %}
                <span class="mr-1 small text-muted">{{ course.get_user_count_ins }} 
                    {% if course.get_user_count == 1 %}
                        student
                    {% else %}
                        students
                    {% endif %} 
                    with <strong>{{ course.course_instructor_fn|capfirst }} 
                        {{ course.course_instructor|capfirst }}</strong>
                    </span>
                </br>
                {% endif %}
                <span class="mr-1 small text-muted">{{ course.get_user_count }} {% if course.get_user_count == 1 %}
                    <span>students</span>{% else %}
                    <span>students</span>{% endif %} in total
                </span>
            </div>
        </div>
    </div>
</div>
<div class="mt-2 mb-3">
    <div class="d-flex justify-content-center row px-3" style="font-size: 0.92rem;">
        <div class="col-6 p-0">
            <div class="card border-0 border-bottom bg-transparent">
                <a class="text-center jc-nav-link  text-muted{% if not o == 'ins' %}-active{% endif %} text-dark"
                href="{% url 'home:course-mutual-students' %}?id={{ course.get_hashid }}&o=all">
                    All Students
                </a>
            </div>
        </div>
        {% if o == 'ins' %}
        <div class="col-6 p-0">
            <div class="card border-0 border-bottom  bg-transparent">
                 <a class="text-center jc-nav-link text-muted{% if o == 'ins' %}-active{% endif %} text-dark" 
                 href="{% url 'home:course-mutual-students' %}?id={{ course.get_hashid }}&o=ins">
                    With {{ course.course_instructor_fn|capfirst }} {{ course.course_instructor|capfirst }}
                 </a>
            </div>
        </div>
        {% else %}
        <div class="col-6 p-0">
            <div class="card border-0 border-bottom  bg-transparent">
                    <span>
                        <div class="dropdown">
                            <div class="card border-0 border-bottom get-instructors-btn get-students bg-transparent hover-cursor"
                                role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-url="{% url  'home:get-course-instructors-data' course.course_code course.course_university_slug %}">
                                <span class="text-center jc-nav-link text-muted{% if o == 'ins' %}-active{% endif %} text-dark"                       
                                    style="text-decoration: none;"
                                    >
                                   Instructors <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                      </svg>
                                   </span>
                                </span>
                           </div>
                            <div class="dropdown-menu bg-white mt-1" aria-labelledby="dropdownMenuLink" id="instructor-list-dropdown" 
                                style="font-size: 0.92rem !important;text-transform:capitalize;max-height: 263px;overflow-y: scroll; width: auto !important;">
                                <a class="dropdown-item" href="{% url 'home:course-instructors' course.course_university_slug course.course_code %}">
                                    All
                                </a>
                                <div class="dropdown-divider"></div>
            
                            </div>
                        </div>
                    </span>
                 </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="infinite-container users-list">
    {% for user in students %}
    <div class="infinite-item mb-2 card">
        <div class="mx-1 my-2">
            <div class="d-flex justify-content-between m-2">
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <img class="img-create-post rounded-circle" style="height: 2.5rem;width: 2.5rem;"
                            src="{{ user.image.url }}">
                    </div>
                    <div>
                        <div>
                            <a class="text-dark user-username-font"
                                href="{{ user.get_absolute_url }}">{{ user.get_username }}
                            </a>
                        </div>
                        <div style="margin-top: -0.35rem;">
                            <span class="text-muted small">{{ user.university|capfirst }}</span>
                        </div>
                    </div>
                </div>
                <div class="friend-status-ctr">

                </div>

            </div>
        </div>
    </div>
    {% empty %}
    <div class="d-flex justify-content-center">
        <h5 class="h5 font-weight-lighter my-3 text-muted">No users found.</h5>
    </div>
    {% endfor %}
</div>

{% if students.has_next %}
<a class="infinite-more-link" href="?id={{ course.get_hashid }}&o={{ o }}&page={{ students.next_page_number }}"></a>
{% endif %}

<div class="mt-2 loading" style="display: none;">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}