{% extends "home/courses/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>{{ course.course_code }} Students - Corscope</title>
{% endblock %}
{% block content %}
<div class="pb-2 mb-2 course-info">
    <div class="d-flex border-bottom justify-content-between">
        <div class="mr-2">
            <div class="d-flex">
                <svg style="margin-top: 5px !important" width="19" height="19" viewBox="0 0 16 16"
                    class="mr-2 bi bi-triangle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                </svg>
                <a class="text-dark"
                    href="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}">
                    <h4 class="font-weight-bold">{{ course.course_code }}</h4>
                </a>
            </div>
            <div class="d-flex">
                <svg style="margin-top:1px !important" width="18" height="18"
                viewBox="0 0 16 16" class="mr-2 bi bi-hexagon" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 4.577L8 1 2 4.577v6.846L8 15l6-3.577V4.577zM8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866L8.5.134z" />
                </svg>
                <a href="{% url 'home:university-detail' %}?u={{ course.course_university}}&obj=std"><h6 class="text-muted">{{ course.course_university|capfirst }}</h6></a>              
            </div>
            <div class="d-flex">
                <svg style="margin-top: 1px !important"  width="18" height="18"
                    viewBox="0 0 16 16" class="mr-2 i bi-layers" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z" />
                    <path fill-rule="evenodd"
                        d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z" />
                </svg>
                <a href="{%url 'home:course-instructor' par2=course.course_instructor_slug par1=course.course_university_slug %}"><h6 class="text-muted">Professor {{ course.course_instructor|capfirst }}</h6></a>
            </div>
        <br>
        <span class="mr-1 small text-muted">{{ course.get_user_count }} {% if course.get_user_count == 1 %}<span>person
                has</span>{% else %}
            <span>people have</span>{% endif %} enrolled in this course.</span>
    </div>
</div>
</div>
<div class="infinite-container users-list">
    {% for user in students %}
    <div class="infinite-item mb-2 card">
        <div class="mx-1 my-2">
            <div class="d-flex justify-content-between m-2">
                <div class="d-flex">
                    <div>
                        <img class="img-create-post rounded-circle" style="height: 2.5rem;width: 2.5rem;"
                            src="{{ user.image.url }}">
                    </div>
                    <div class="ml-1">
                        <div>
                            <span class="mx-0 text-dark font-weight-bolder">{{ user.first_name }}
                                {{ user.last_name}}</span>
                        </div>
                        <div style="margin-top: -0.35rem;">
                            <a class="small" style="color: rgb(1,119,200)"
                                href="{{ user.get_absolute_url }}">@{{ user.get_username }}</a>
                            <span class="mx-0 small text-muted">·</span>
                            <span class="text-muted small">{{ user.university|capfirst }}</span>
                        </div>
                    </div>
                </div>
                <div class="friend-status-ctr">

                </div>

            </div>
        </div>
    </div>
    {% empty %}
    <div class="d-flex justify-content-center">
        <h5 class="h5 font-weight-lighter my-3 text-muted">No users found.</h5>
    </div>
    {% endfor %}
</div>

{% if students.has_next %}
<a class="infinite-more-link" href="?id={{ course.get_hashid }}&page={{ students.next_page_number }}"></a>
{% endif %}

<div class="mt-2 loading" style="display: none;">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}