{% extends 'home/courses/university_detail.html' %}
{% load ibuilder %}
{% block list %}
<div>
    <div class="mb-2">
        <span class="ml-2 text-muted small">
            Only instructors with course enrollments are displayed
        </span>
    </div>
    <div class="row px-3 infinite-container">
        {% for ins in instructors %}
        {% bg_rand as bgrnd %}
        <div class="col-md-6 p-1 infinite-item">
            <div class="card card-r course-card">
                <a style="text-decoration: none;" class="course-detail-link"
                    href="{{ ins.get_instructor_page_url }}">
                    <div class="d-flex align-items-center course-code-ctr">
                        <div class="my-1 ">
                            <div class="ml-2" >
                                <span class="h5 font-weight-bold pt-1 text-dark">{{ ins.get_full_name }}</span>
                            </div>
                        </div>                              
                    </div>
                </a>
                <div class="mx-1 font-auto-sm">
                    <div class="course-details-holder my-2">
                        <div class="detail-text citext">
                            <span class="svg-icon ccs mr-2">
                                <svg style="margin-top: -3px !important;" width="16" height="16" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                    d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z" />
                                    <path fill-rule="evenodd"
                                    d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                                </svg>
                            </span>
                            {% with ins.get_course_count as cc %} 
                            <span class="ccfield-s">
                                {{ cc }}
                            </span>
                            <span class="ccfield-t">
                                {% if cc > 1 %} courses {% elif cc == 1 %} course {% endif %}                                    
                            </span>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="course-details-holder my-2">
                        <div class="detail-text citext">
                            <span class="svg-icon ccs mr-2">
                                <i class="fas fa-user-graduate" style="font-size: 16px;"></i>
                            </span>
                            {% with ins.get_student_count as cc %} 
                            <span class="ccfield-s">
                                {{ cc }}
                            </span>
                            <span class="ccfield-t">                                                                         
                                  {% if cc > 1 %} students {% elif cc == 1 %} student {% endif %}                                                                 
                            </span>
                            {% endwith %}  
                        </div>
                    </div>
                </div>  
            </div>
        </div>        
        {% endfor %}  
    </div>
    {% if instructors.has_next %}
    <a class="infinite-more-link" href="?u={{ uni }}&obj=ins&page={{ instructors.next_page_number }}"></a>
    {% endif %}
    <div class="mt-2 loading" style="display: none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<div class="mb-1" style="font-size: 0.92rem;">
    <div class="course-details-holder my-1 mt-0">
        <div class="detail-text citext">
            <span class="svg-icon ccs mr-2">
                <i class="fas fa-user-graduate" style="font-size: 16px;"></i>
            </span>
            <span class="ccfield-t">                                           
                Students:                                           
            </span>
            <span class="ccfield-s">
                {{ ins.get_student_count }}
            </span>
        </div>
    </div>
    <div class="course-details-holder my-2">
        <div class="detail-text citext">
            <span class="svg-icon ccs mr-2">
                <svg style="margin-top: -3px !important;" width="16" height="16" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                    d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z" />
                    <path fill-rule="evenodd"
                    d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                </svg>
            </span>
            <span class="ccfield-t">
                Courses:                                           
            </span>
            <span class="ccfield-s">
                {{ ins.courses.count }}
            </span>
        </div>
    </div>
</div>