{% extends 'home/courses/university_detail.html' %}
{% load thumbnail %}
{% block list %}
<div>
    <div class="infinite-container users-list row">
        {% for user in users %}
        <div class="infinite-item col-md-4 p-1">
            <div class="mb-2 card">
                <div class="mx-1 my-2">
                    <div class="d-flex justify-content-center m-2">
                        <div class="p-1">
                            <div class="d-flex justify-content-center mb-2">
                                <div>
                                    {% thumbnail user.image "110x110" crop="80% top" as im %}
                                        <img class="rounded-circle" style="margin:{{ im|margin:'110x110' }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                                    {% endthumbnail %}
                                </div>
                            </div>
                            <div class="ml-1">
                                <div class="text-center">
                                    <a  class="mx-0 text-dark font-weight-bolder" 
                                    href="{{ user.get_absolute_url }}">{{ user.get_full_name|capfirst }}</a>
                                </div>
                                <div class="text-center">
                                    <span class="text-muted small">{{ user.university|capfirst }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        {% endfor %}
    </div>

    {% if users.has_next %}
    <a class="infinite-more-link" href="?u={{ uni }}&obj=std&page={{ users.next_page_number }}"></a>
    {% endif %}

    <div class="mt-2 loading" style="display: none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}