{% extends 'home/courses/university_detail.html' %}
{% load thumbnail %}
{% block list %}
<div>
    <div class="infinite-container users-list">
        {% for user in users %}
        <div class="infinite-item mb-2 card">
            <div class="mx-1 my-2">
                <div class="d-flex justify-content-between m-2">
                    <div class="d-flex align-items-center">
                        <div class="mr-2">
                            <img class="img-create-post rounded-circle" style="height: 2.5rem;width: 2.5rem;"
                                src="{{ user.image.url }}">
                        </div>
                        <div>
                            <div>
                                <a class="text-dark user-username-font"
                                    href="{{ user.get_absolute_url }}">{{ user.get_username }}
                                </a>
                            </div>
                            <div style="margin-top: -0.35rem;">
                                <span class="text-muted small">{{ user.university|capfirst }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="friend-status-ctr">
    
                    </div>
    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if users.has_next %}
    <a class="infinite-more-link" href="?u={{ uni }}&obj=std&page={{ users.next_page_number }}"></a>
    {% endif %}

    <div class="mt-2 loading" style="display: none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}