{% extends 'home/courses/base.html' %} 
{% load static %}
{% block title %}
    <title>Saved Courses - JoinCampus</title>
{% endblock %}
{% block content %}
{% load ibuilder %}
<div class="card-columns mt-2" style="margin-left: -0.85rem;margin-right: -0.85rem;">
    {% for course in courses %}
    {% bg_rand as bgrnd %}
    <div class="card mb-2 bg-white" style="border-radius:8px;">
        <a class="d-flex justify-content-between align-items-center course-title-box my-auto text-white"  
            style="text-decoration: none;  min-height:5rem; background-color: {{ bgrnd }}; border-top-left-radius:8px;border-top-right-radius:8px;"
                href="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}">  
                <div class="ml-2">               
                    <h3 class="font-weight-bold">{{ course.course_code }}</h3>                
                </div>
        </a>
        <div class="row p-1">
            <div class="col-sm" >
                <div class="my-1 course-goto border-bottom p-1 pb-2" data-url="{% url 'home:university-detail' %}?u={{ course.course_university}}&obj=std">
                    <span class="text-dark">University:</span><span class="ml-1 text-primary">{{ course.course_university|capfirst }}</span>
                </div>       
                <div class="my-1 course-goto border-bottom p-1 pb-2" data-url="{%url 'home:course-instructor' course.course_university_slug course.course_instructor_slug %}">
                    <span class="text-dark">Instructor:</span><span class="  text-primary ml-1">{{ course.course_instructor|capfirst }}</span>
                </div>
                <div class="my-1 course-goto border-bottom p-1 pb-2" data-url="{% url 'home:course-mutual-students' %}?id={{ course.get_hashid }}">
                    <span class="text-dark">Total Enrollments: </span><span class=" text-primary mr-1">{{ course.get_user_count_ins }}</span>
                </div>
                <div class="my-1  p-1 border-bottom pb-2">
                    <span class="text-dark">Course Overall Difficulty: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity|cut:' ' }}">{{ course.average_complexity }}</span>
                </div>
                <div class="my-1 border-bottom p-1 pb-2 " style="display: inline-block;">
                    <span class="text-dark">Difficulty with this instructor: </span>
                    <span class="mr-1 font-weight-bolder cplx {{ course.average_complexity_ins|cut:' ' }}">
                        {% if course.complexity_btn_ins == "None" %}
                            No reports
                        {% else %}
                            {{ course.average_complexity_ins }}
                        {% endif %}
                    </span>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="votes-container ">
                        {% include 'home/courses/course_vote.html' with course=course %}
                    </div>
                    <div>
                        <button data-url="{% url 'home:course-save-remove' hid=course.get_hashid %}" type="button" class="btn btn-sm small no-border text-muted scrmvbtn">Remove</button>
                    </div>
                </div>    
            </div>     
        </div>
    </div>
    {% endfor %}
</div>
{% if not courses %}
<div class="card" style="margin-left: -0.85rem !important;">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h4 class="text-muted">You haven't saved any courses.</h4>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}