{% extends "home/homepage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load static %}
{% load ibuilder %}
{% block content %}
<div>
    <div class="card blog-info shadow-sm bg-white init-all">
        <div class="card-body">
            <p class="card-text">
                You are editting your reply on:
                <div>
                    <div>
                        <h3><a class="text-dark" style="text-decoration: none;"href="{% url 'home:blog-detail' hid=blog.guid_url t=blog.slug %}">{{ blog.title }}</a></h3>
                        
                    </div>
                    <div>
                        <span class="small text-muted">
                            By 
                         </span>
                        <a href="{{ blog.author.get.absolute_url }}" class="card-link small font-weight-bolder">{{ blog.author.get_full_name }}</a>
                        <span  class="small text-muted">
                           on {{ blog.last_edited|date:"M d, Y" }}
                        </span>
                    </div>
                </div>
            </p>
        </div>
    </div>

    <div class="my-3 replies-etall">
        <h5 class="font-weight-bolder">
            Edit Reply
        </h5>
    </div>
    <div class="blog-replies-form-ctr border p-2 rounded">
        <form method="POST" action="{% url 'home:blog-reply-edit' hid=reply.get_hashid guid_url=blog.guid_url slug=blog.slug %}"  class="blog-reply-edit-form">
            {% csrf_token %}
            {{ form|crispy }}	    
            <div class="mt-1">
                <div class="d-flex justify-content-end ml-1">
                    <div>
                        <button type="submit" id="sub-etal" class="btn no-border btn-primary"  style="border-radius: 20px; width: 100%;">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}