{% extends 'home/courses/base.html' %}
{% load static %}
{% block title %}
    <title>{{ code }} - {{ university|capfirst }} - JoinCampus</title>
{% endblock %}
{% block content %}
{% load ibuilder %}
<div class="d-flex border-bottom justify-content-between">
    <div class="mr-2">
        <h4 class="font-weight-bolder">{{ code }}</h4>
        <h6 class="text-muted">{{ university|capfirst }}</h6>
        {% if taken %}
        <br>
        <span class="mt-5 small text-muted">You have taken this course.</span>
        {% endif %}
    </div>
    <div>
        <img class="mb-1" src="{% static 'default/courses/c-log.png' %}" alt="Course Image" style="margin-top:-20px;height:120px;width: 120px;">
    </div>
</div>
<div class="card-columns mt-1">
    {% for course in courses %}
    {% bg_rand as bgrnd %}
    <div class="card mb-2 bg-white">
        <div class="d-flex justify-content-between course-title-box" data-url="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}" style="min-height: 5rem; background-color: {{ bgrnd }};">
            <div class="ml-2"> 
                <a class="mx-2 my-auto text-white"  style="text-decoration: none;" href="{%url 'home:course-instructor' par1=course.course_university_slug par2=course.course_instructor_slug %}">
                    <h3 class="font-weight-bold">{{ course.course_instructor_fn|capfirst }} {{ course.course_instructor|capfirst }}</h3>
                </a>
            </div>
          </div>
        <div class="row p-0">
            <div class="col-sm-12" >
                <div class="d-flex flex-column p-1">         
                    <div class="d-flex justify-content-right">
                        <div class="border p-1 border-rounded shadow-sm t-stu">
                            <span class="text-dark">Total Enrollments: </span><span class="font-weight-bolder mr-1">{{ course.get_user_count_ins }}</span>
                        </div>
                        <div class="t-stu p-1 border border-rounded shadow-sm">
                            <span class="text-dark">Average Difficulty: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity|cut:' ' }}">
                                {% if course.complexity_btn == "None" %}
                                    No reports yet
                                {% else %}
                                    {{ course.average_complexity }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="t-stu mt-1">
                        <div class="border border-rounded p-1 shadow-sm" style="display: inline-block;">
                            <span class="text-dark">Average Difficulty with this instructor: </span><span class="mr-1 font-weight-bolder cplx {{ course.average_complexity_ins|cut:' ' }}">
                                {% if course.complexity_btn_ins == "None" %}
                                    No reports yet
                                {% else %}
                                    {{ course.average_complexity_ins }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="votes-container ">
                        {% include 'home/courses/course_vote.html' with course=course %}
                    </div>
                    <div>
                        <a href="{% url 'home:course-detail' course.course_university_slug course.course_instructor_slug course.course_code %}" class="btn btn-sm small no-border text-muted ">Reviews</a>
                    </div>
                    <div >
                        <form method="POST" class="course-save-form">
                            {% csrf_token %}
                            <button class="small text-muted btn-sm small btn no-border save-course" type="submit" data-url="{% url 'home:course-save' course.id %}"><i class="mr-1 fas fa-bookmark"></i>Save</button>
                        </form>
                    </div> 
                </div>    
            </div>     
        </div>
    </div>
    <div class="modal fade" id="modal-save-course">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-header border-0  p-1">
                <h5 class="modal-title col-12 text-center font-weight-bolder">Save Course</h5>
            </div>
              <div class="moda-body text-center border-0 p-2">
                  <hp class="mt-2 col-8 text-center text-message text-danger"></p>
              </div>
              <div class="modal-footer border-0 p-1">
                <button type="button" class="btn btn-secondary"  data-dismiss="modal" style="border-radius: 20px; width: 100%;">Close</button>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}