{% extends 'main/settings/privacy_security.html' %}
{% block securitycontent %}
<div class="mb-3 pb-3  border-bottom account-privacy-info">
    <div class="setting-menu-sub">
        <h5>Pause All Buzzes Notifications</h5>
    </div>
    <div class="privacy-type">
        <div class="mb-2 description-ctr">
            <p class="mb-2 small text-muted">
                You can pause receiving all notifications on your buzz's comments, likes, dislikes, and wots here.
            </p>
        </div>
        <div id="ns-form-ctr">
            {% include 'main/settings/notifications/notifications_buzz_all.html' %}
        </div>
    </div>
</div>
<div class="mb-3 pb-3  border-bottom account-privacy-info">
    <div class="setting-menu-sub">
        <h6>Pause Reply Notifications</h6>
    </div>
    <div class="privacy-type">
        <div id="ns-form-ctr">
            {% include 'main/settings/notifications/notifications_buzz_comments.html' %}
        </div>
    </div>
    <span class="text-muted small">You will not be able to see the information(username, last name, ...) user has replied on your buzz</span>
</div>
<div class="mb-3 pb-3 account-privacy-info">
    <div class="setting-menu-sub">
        <h6>Pause Likes, Dislikes, and Wots Notifications</h6>
    </div>
    <div class="privacy-type">
        <div id="ns-form-ctr">
            {% include 'main/settings/notifications/notifications_buzz_likes.html' %}
        </div>
    </div>
    <span class="text-muted small">You will not be able to see the information(username, last name, ...) of users has liked, disliked or wot on your buzz</span>
</div>
{% endblock %}
