{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}400 - JoinCampus{% endblock %}
{% block content %}
<div  class="min-vh-100">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 600px;">
        <div class="my-auto col-md-7 col-sm-9 col-11">
            <h4 class='text-center'>There is an issue with your request.</h4>
            <p class="text-center text-muted pt-2 px-1 small">
                Sorry, there was an issue with your request.
            </p>
        </div>
    </div>
</div>
{% endblock %}