<footer class="border-top p-2 page-footer" style="font-size: 0.9rem;">
    <div class="ml-2 mr-2">
      <div class="row d-flex">
        <div class="col">
          <div class="mb-1 text-center">       
            <a class="text-muted  text-muted"href="{% url 'main:site-about' %}">
              About
              </a>
          </div>
        </div>
        <div class="col">
          <div class="mb-1 text-center">       
            <a class="text-muted  text-muted"href="{% url 'main:site-terms' %}">
              Terms
              </a>
          </div>
        </div>
        <div class="col">
          <div class="mb-1 text-center ">       
            <a class="text-muted  text-muted"href="{% url 'main:web-policy' %}" style="white-space: nowrap !important;">
              Privacy
              </a>
          </div>
        </div>
        <div class="col">
          <div class="mb-1 text-center ">       
            <a class="text-muted  text-muted"href="{% url 'main:cookies-policy' %}">
              Cookies
              </a>
          </div>
        </div>
        <div class="col">
          <div class="mb-1 text-center ">       
            <a class="text-muted  text-muted"href="{% url 'main:contact-us' %}" style="white-space: nowrap !important;">
              Contact Us
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-1 text-muted">
     JoinCampus © 2020
      </div>
  </footer> 