{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180528762-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-180528762-1');</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name=”robots” content="index, follow">
    <meta name=”googlebot” content="index, follow">
    <meta name="description" content="JoinCampus is a platform that students can connect with each other, manage their courses, and find others in their classes and expand their network."/>
    <title>JoinCampus - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_folder/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_folder/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_folder/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_folder/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_folder/safari-pinned-tab.svg' %}" color="#90c4f5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="d-flex flex-column min-vh-100">
  <div class="row" >
    <div class="col-lg-6 d-none d-lg-block bg-primary-dark">
      <div class="container">
        <div class="row" style="height: 100vh;">
          <div class="mx-auto content-holder p-1" style="margin-top: 12rem;">
            <div class="card bg-primary-medium border-0" style="border-radius: 25px;">
              <div class="pl-4 pt-3">
                <img class="float-left" src="{% static 'logo/m/logo-white.png' %}" style="height: 6.54rem;"/>
              </div>
              <div class="card-body">
                <div class="p-2">
                  <div class=" text-white h2">
                    A social media platform to connect students.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mx-auto">          
            <div class="p-1">            
              <div class="text-white my-4">
                <div class="h4">
                  <span class="mr-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                    </svg>
                  </span>
                  Find students at your school and connect.</div>
              </div>
              <div class="text-white my-4">
                <div class="h4">
                  <span class="mr-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-nested" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                  </span>
                  Review courses and find your classmates.</div>
              </div>
              <div class="text-white mb-4">
                <div class="h4">
                  <span class="mr-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                  </span>
                  Create content and share with others.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="container">
        <div class="row" style="height: 100vh;">
          <div class="is-responsive card  col-md-6 col-10 my-auto mx-auto" style="padding-bottom: 3vh;">
            <div class="align-items-center is-responsive mt-5 mb-4">
              <a href="{% url 'main:user_login' %}">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="d-flex justify-content-center logo-name" >
                    <img class="img-fluid" src="{% static 'logo/m/26.png' %}" width="90%"/>
                  </div>
                </div>
              </a>
            </div>
            {% if messages %}
              <div class="mb-2">
                  <div class="d-flex align-items-center">
                      <div>
                          {% for message in messages %}
                          <div class="alert alert-light alert-dismissible fade show" role="alert">
                            <span {% if message.tags %} class="text-{{ message.tags }}" {% endif %}> {{ message }} </span><br>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>                
                          {% endfor %}
                      </div>
                  </div>
              </div>
          {% endif %}
            <div class="card-signin my-auto">
              <div class="card-body">
                <form method="POST" action="{% url 'main:user_login' %}" class="form-signin">
                  {% csrf_token %}
                  <div class="form-label-group">
                    <input type="text" name="username" id="inputText" class="form-control" placeholder="Username" required autofocus>
                    <br/>
                  </div>
                  <div class="form-label-group">
                   <input type="password"  name="password" id="inputPassword" class="form-control" placeholder="Password" required>   
                  </div>
                  <button type="submit" class="btn mt-3 w-100 btn-md btn-primary no-border">
                    <img class="img-fluid float-left" style="height: 1.5rem;" src="{% static 'logo/m/logo-white-nl.png' %}"/><span style="font-weight: 500;">Log in</span>
                  </button>
                  
                  <div class="mt-2 separator-line" style="color: rgb(182, 184, 185);">or</div>
                  <a class="btn mt-2 w-100 btn-md border rounded" href="{% provider_login_url 'google' %}">
                    <img class="google-icon float-left" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/><span style="margin-left:-11px;font-weight: 500;">Log in with Google</span></a>
                  <hr class="my-4">
                  <p>Don't have an account? <a href="{% url 'main:signup' %}" id="signup">Sign up</a></p>
                  <a class="text-muted" href="{% url 'account_reset_password' %}" id="signup" style="font-size: .9rem;">Forgot Password?</a>
                  <p style="color: red;">{{ message }}</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
    
    <div id="footer-main-div">
      {% include 'footer_main.html' %}
    </div>
</body>
<style>
  .google-icon {
    margin-left: 10px;
    width: 22px;
    height: 22x;
  }
</style>
</html>