{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corscope - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="main-bg-color">
    <div class="container">
      <div class="row" style="height: 100vh;">
        <div class="Absolute-Center is-responsive  col-lg-5 my-auto mx-auto" style="padding-bottom: 10vh;">
          <div class="align-items-center is-responsive my-4 mx-auto ">
            <div class="d-flex my-auto align-items-center">
              <div class="logo-name">
                <img class="img-fluid" src="static/logo/m/logo-main-name.png" height="80%" width="80%">
              </div>
              <div>
              </div> 
            </div>
            <h5 class="text-center mt-3 mx-0">Find your friends and connect</h5>
          </div>
          <div class="card card-signin my-auto">
            <div class="card-body">
              <form method="POST" action="{% url 'main:user_login' %}" class="form-signin">
                {% csrf_token %}
                <div class="form-label-group">
                  <input type="text" name="username" id="inputText" class="form-control" placeholder="Username" required autofocus>
                  <br/>
                </div>
                <div class="form-label-group">
                 <input type="password"  name="password" id="inputPassword" class="form-control" placeholder="Password" required>   
                </div>
                <input type="submit" class="mt-3 form-control" name="" value="Login">
                <hr class="my-4">
                <p>Don't have account? <a href="{% url 'main:signup' %}" id="signup">Sign up here</a></p>
                <a href="{% url 'password_reset' %}" id="signup">Forgot Password</a>
                <p style="color: red;">{{ message }}</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-main-div">
      {% include 'footer_main.html' %}
    </div>
</body>

</html>