{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load ibuilder %}
{% load static %}
{% block content %}
<div class="p-1 mb-2 title-all">
    <div class="rounded-0 ml-1 card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h4 class="card-title mt-2 ">Tags</h4>
            </div>
            <div class="text-muted">
              <span>{{ num_obj|num_format }} {{ s }}</span>
            </div>
          </div>
        </div>
      </div>
</div>
  <div class="pt-1 content" >
    <div >
        {% for tag in tags %}
        <div class="rounded-0 mt-1 border-bottom ml-1">
            <div class="p-2">
            <div class="d-flex align-items-center justify-content-between">
                <div >
                <h4 class="card-title">
                    {% if i_post %}
                    <a href="{% url 'home:tag-post' tag.slug %}"  class="text-dark" style="text-decoration: none;">
                    {% elif is_buzz %}
                    <a href="{% url 'home:tag-buzz' tag.slug %}"  class="text-dark" style="text-decoration: none;">
                    {% elif is_blog %}
                    <a href="{% url 'home:tag-blog' tag.slug %}"  class="text-dark" style="text-decoration: none;">
                    {% endif %}
                    #{{ tag.name }}</a></h4>
                </div>
                <div>
                <div class="flw-tag-ctr" style="margin-top: -4px !important;" >
                    {% include 'main/tags/fav_post.html'  with is_fav=True tag=tag %}
                </div>
                </div>
            </div>
            </div>
        </div>
        {% empty %}
        <div class="d-flex justify-content-center">
            <h6 class="h5 my-3 text-muted">No tags to show.</h6>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}