{% load static %}
{% load ibuilder %}
{% if request.user.is_authenticated %}
<form class="post-like-form" action="{% url 'home:post-like' post.guid_url %}"  method="POST">
    {% csrf_token %}
    {% if request.user in post.likes.all %}
        <button type="submit"  class=" likeBtn btn btn-md" data-url="{% url 'home:post-like'  post.guid_url %}" data-token="{{ csrf_token }}" name="post_guid" value="{{ post.guid_url }}" >
            <span style="color:  rgb(236, 81, 94);">
                <svg style="margin-top: 2px !important;" width="20"  height="20" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg> 
                <span class="like-count small ml-1">
                    {{ post.likes.count|num_format  }}
                </span>
                <input type="hidden" class="input-like-count" value=" {{ post.likes.count }} " />
            </span>
        </button>
    {% else %}
        <button type="submit" name="post_guid" value="{{ post.guid_url }}" data-url="{% url 'home:post-like'  post.guid_url %}" data-token="{{ csrf_token }}" class="likeBtn btn btn-md">
            <span  style="color:  rgb(158, 158, 158);">
                  <svg style="margin-top: 2px !important;"  width="20" height="20" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                  {% if post.likes.count != 0 %}
                    <span class="like-count small ml-1">
                        {{ post.likes.count|num_format }}
                    </span> 
                    {% endif %}
                <input type="hidden" class="input-like-count" value=" {{ post.likes.count }} " />
            </span>
        </button>
    {% endif %}
</form>
{% endif %}


