{% load static %}
<!-- static file were here -->
{% if request.user.is_authenticated %}
<script src="{% static 'js/post.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>
<form action="{% url 'home:post-like' post.id %}" method="POST">
    {% csrf_token %}
    {% if request.user in post.likes.all or is_liked %}
        <button type="submit" id="likeBtn" data-url="{% url 'home:post-like' post.guid_url %}" data-token="{{ csrf_token }}" name="post_id" value="{{ post.id }}" class="btn btn-md">
            <span class="text-secondary">
                <i class="fas fa-thumbs-down"></i>
                <span id="like-count">
                    {{ post.likes.count }}
                </span> 
            </span>
        </button>
    {% else %}
        <button type="submit" id="likeBtn" data-url="{% url 'home:post-like' post.guid_url %}" data-token="{{ csrf_token }}" name="post_id" value="{{ post.id }}" class="btn btn-md">
            <span class="text-secondary">
                <i class="fas fa-thumbs-up"></i>
                <span id="like-count">
                    {{ post.likes.count }}
                </span> 
            </span>
        </button>
    {% endif %}
</form>
<div class="modal fade" id="modal-post-detail">
    <div class="modal-dialog modal-dialog-scrollable modal-md adjusted-modal-detail">
      <div class="modal-content"></div>
    </div>
  </div>  
{% endif %}