  {% for comment in comments %}
  <div class="border-bottom">
    <div class="row pt-1 pl-4" style="margin-bottom: -1.5rem;">
      <div class="col-xs">
        <img class="img-create-post rounded-circle mr-1" style="width: 2.1rem;height: 2.1rem;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Profile image">
      </div>
      <div class="col-xs" style="margin-bottom: 0;">
        <span class="text-dark font-size-smaller" href="#" style="font-weight: 500;">{{ comment.name.first_name }}</span>
        <span class="text-muted small">•</span>
        <a class="text-muted small" href="#">@{{ comment.name.username }}</a>
        <span class="text-muted small">•</span>
        <span class="text-muted small">{{ comment.get_created_on }}</span>
        <p class="font-weight-light pl-1">{{ comment.body }}</p>
      </div>
    </div>
    <div class="mx-1 my-1 d-flex justify-content-between" style="height: 1.7rem;">
      <div class="mt-1">
        <span class="text-muted small view-replies">view {{ comment.replies.count }} replies <i class="fas fa-caret-down"></i></span>
      </div>
      <div>
        <button class="btn btn-md small float-right text-muted button-secondary reply-btn button-hide-outline" type="button" data-toggle="modal" data-target="modal-comment-reply"><i class="fas fa-reply"></i></button>
      </div>
    </div>
    <div class="comment-replies">
      {% for reply in comment.replies.all %}
      <div class="row pt-1 pl-4">
        <div class="col-xs">
          <img class="img-create-post rounded-circle mr-1" style="width: 2.1rem;height: 2.1rem;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Profile image">
        </div>
        <div class="col-xs" style="margin-bottom: 0;">
          <span class="text-dark font-size-smaller" href="#" style="font-weight: 500;">{{ comment.name.first_name }}</span>
          <span class="text-muted small">•</span>
          <a class="text-muted small" href="#">@{{ comment.name.username }}</a>
          <span class="text-muted small">•</span>
          <span class="text-muted small">{{ comment.get_created_on }}</span>
          <p class="font-weight-light pl-1">{{ comment.body }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="modal fade" id="modal-comment-reply">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="height:2.9rem;margin-top: -10px;">
          <p style="font-weight: bold;font-size: 1.4rem;"><span class="font-weight-light">replying to </span>@{{ comment.name.username }}</p>
          <button type="button" class="button-hide-outline" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'home:post-detail' post.guid_url %}" class="post-comment-form" style="height: 1rem;">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
            <div class="comment-reply-form" style="min-height: 10rem;">
              {{ form }}
            </div>
            <div class="d-flex my-2 justify-content-between">
              <div></div>
              <div>
                <button class="btn btn-md small btn-outline-primary ml-1" style="border-radius: 20px;" type="submit">Reply</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    {% empty %}
    <div class="d-flex justify-content-center">
      <p class="font-weight-lighter text-muted">No comments to show</p>
    </div>
{% endfor %}
<style>
  .view-replies:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .comment-reply-adjust {
    font-weight: 450;
    font-size: 1.3rem;
    border:none;
    outline:none;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    max-height:9rem;
    overflow-y:auto;
  }
  .button-hide-outline{
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
  }
  .button-hide-outline:hover {
    opacity: 0.6;
  }
</style>
<script>
$(document).ready(function () {
	$('.reply-btn').on("click", function () {
    $('#modal-comment-reply textarea').attr("placeholder","Add your reply")
    $('#modal-comment-reply textarea').addClass("comment-reply-adjust")
    $('#modal-comment-reply').modal("show");
  });
  var l = 0;
	$('.view-replies').on('click', function () {
		if(l == 0){
			$(".comment-replies").show();
			l = -1;
		} else {
			$(".comment-replies").hide();
			l = 0;
		}
	})
})
</script>

