{% load crispy_forms_tags %}
{% load static %}
<form method="POST" data-url="{% url 'home:post-create' %}" id="my-dropzone" class="dropzone post-create-form" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="modal-header text-center">
			<h5 class="modal-title col-12 text-center">Create a Post
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</h5>
		</div>
	<div class="modal-body" style="height:340px; overflow-y: auto; margin:0;">
		{{ form|crispy }}
		{{ form.media }}
		<div id=mentions style="display: hidden;"><ul class="list-group"></ul></div>
		<div class="fallback">
			<input name="file" type="file" multiple />
		</div>
		<div class="row mt-3 p-1" id="preview-selected"></div>
		  <div id="preview-template" class="mx-auto col-6 dz-preview dz-file-preview" style="display: none;">
				<div class="d-flex flex-column align-items-center dz-details border rounded mb-1 mr-1">
				<img data-dz-thumbnail/>
				</div>
				<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
				<div class="dz-success-mark"><span>✔</span></div>
				<div class="dz-error-mark"><span>✘</span></div>
				<div class="dz-error-message"><span data-dz-errormessage></span></div>
		  </div>
	</div>
	<button type="button" class="m-1 ml-3 btn btn-sm border border-light" style="border-radius: 20px;" id="add-images"><i class="mx-1 fas fa-camera"></i>Photo</button>
	<div class="dz-default dz-message"></div>
	<div class="modal-footer col-12">
		<button type="submit" id="sub-etal" class="btn btn-primary"  style="border-radius: 20px; ">Post</button>
	</div>
</form>
<script src="{% static 'dropzone/dist/dropzone.js' %}"></script>
<script src="{% static 'js/post/post-dz.js' %}"></script>
<link rel="stylesheet" href="{% static 'tribute/tribute.css' %}" />
<script src="{% static 'tribute/tribute.js' %}"></script>
<script>
$(document).ready(function () {


	var tribute = new Tribute({
		values: function (search, cb) {
			getUsernames(search, users => cb(users))
		},
		menuItemTemplate: function (item) {
			return '<img src="'+item.original.img.url + '">' + item.original.name + " " + item.original.last;
		},
		selectTemplate: function (item) {
			return '@' + item.original.username;
		},
	});
	tribute.attach(document.getElementById("id_content"));

	function getUsernames(search, cb){
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/get/user/mentions?q='+search, true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function () {
			var data = JSON.parse(xhr.responseText);
			cb(data);
			if (xhr.readyState == 4 && xhr.status == "200") {
				$.each(data, function(i, item) {
					tribute.append(0,[
						{
							name: item.first_name,
							last: item.last_name,
							username:item.username,
							img: item.image
						},
					]);
				});
			} else if (xhr.status === 403) {
				cb([]);
			}
		}
		xhr.send(null);
	}

})
</script>
<style> #preview-selected > img{margin-top: 10px !important;}  .selectize-input.items .item {margin-top: -3px !important;}</style>






			




