{% load static %}
<div class="modal-header">
    <h5 class="modal-title" >Likes</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="overflow-y: auto;margin-top: -12px;">
    {% for user in post_likes %}
    <div class="row border-bottom">
        <div class="col-xs m-1">
            <img class="img-create-post rounded-circle mr-1" style="width: 2.1rem;height: 2.1rem;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Profile image">
        </div>
        <div class="col-xs">
            <a class="text-dark font-size-smaller" href="#" style="font-weight: 500;">{{ user.first_name }} {{ user.last_name }}</a>
            <div style="margin-top: -9px;"> 
                <span class="text-muted small">@{{ user.username }}</span>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="d-flex justify-content-center">
        <p class="m-0 small text-muted">No Likes</p>
    </div>
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"  style="border-radius: 20px;">Close</button>
</div>