{% extends "home/homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <style>
    .modal-body {
      min-height: calc(100vh - 510px);
      overflow-y: auto;
    }
    .post-border-div {
      border: 1px solid; 
      opacity: 0.5;
    }
    button, textarea {
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
    }
    button:hover {
      opacity: 0.6;
    }
    .view-replies:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .comment-reply-adjust {
      border: none !important;
      outline:none !important;
      box-shadow: none !important;
      -moz-box-shadow:none !important;
      -webkit-box-shadow:none !important;
      font-weight: 450;
      font-size: 1.3rem;
      max-height:9rem;
      overflow-y:auto;
    }
  </style>
  <script src="{% static 'js/comment.js' %}"></script>
  <script src="{% static 'js/like-api.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/post/style.css' %}">
  <div id="#post-detail-container">
    <div class="border-left border-right pb-5">
      <h4 class=" font-weight-bolder ml-1">{{ post.title }}</h4>
      <div class="mx-0" style="margin: 0; padding: 0;">
        <div class="mt-3 rounded-0 border-top" style="max-width: 100rem !important;">
          <div class="card-body mb-1 text-dark" style="min-height: 10rem;">
            <div class="d-flex">
              <img class="img-create-post rounded-circle mr-2" style="width: 50px;height: 50px;" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                alt="Profile image">
                <span class="align-text-top"><a class="mr-2 text-dark font-weight-bolder" href="#">{{ post.author.first_name }} {{ post.author.last_name }} </a><br>
                  <p class="small text-muted">@{{ post.author.username }}</p>
              </span>
                  <div class="float-right text-right ml-auto">
                    <p class="text-muted small" style="font-size: 0.7rem;">{{ post.date_posted|date:"F d, Y" }}</p>
                  </div>     
            </div>
            <div class="card-post-content">
              <p class="card-text">{{ post.content }}</p>
            </div>
          </div>
        </div>
        <hr class="mx-2 px-2" style="margin: 0;">
        <div class="d-flex justify-content-center">
          <div class="mx-4">
            <button class="btn btn-md" type="button" id="post-comment-button-viewer">
              <span class="text-secondary">
                  <i class="fas fa-comment"></i>
                  <span class="comment-count">
                    {{ comment_count }}
                </span>
                <input type="hidden" class="input-comment-count" value=" {{ post.comments.count }} " />
              </span>
          </button>
          </div>
          <div id="like-section" class="mx-4 inside-post-detail">
            {% include 'home/posts/likes.html' with post=post %}
          </div>
          <div class="mx-4">
            <a class="btn btn-md" href="#">
              <span class="text-secondary">
                <i class="fas fa-share-square"></i>
              </span>
            </a>
          </div>
        </div>
          <div class="d-flex justify-content-center pb-1 mx-0">
            <div class="row mx-2" id="post-comment-form-div" style="display:none;">
              <img class="img-create-post rounded-circle mx-1" style="width: 2.3rem;height: 2.3rem;" 
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Profile image">
              <form method="POST" action="{% url 'home:post-detail' post.guid_url %}" class="post-comment-form" style="height: 1rem;">
                {% csrf_token %}
                <div class="input-group">
                  {{ form }}
                  <div class="input-group-append">
                    <button class="btn btn-sm small btn-outline-primary ml-1" style="height: 2.3rem; border-radius: 20px;" type="submit">Add</button>
                  </div>
                </div>     
              </form>
            </div>
          </div>
          <hr class="text-muted post-border-div" style="margin: 0;">
          <div id="post-linked-comments" class="pb-1" style="margin: 0;">
            <div>
              {% include 'home/posts/post_comment.html' %}
            </div>    
          </div>
      </div>
    </div>
  </div>
  <style>
    #like-count {
      display: none;
    }
  </style>
{% endblock %}

  