{% load crispy_forms_tags %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'highlight-textarea/jquery.highlight-within-textarea.css' %}"
/>
<form
  method="POST"
  data-url="{% url 'home:post-create' %}"
  id="my-dropzone"
  class="dropzone post-create-form"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="modal-header text-center">
    <h5 class="modal-title col-12 text-center">
      <span> Create Post </span>
      <button
        type="button"
        class="close no-outline"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>
  </div>
  <div class="modal-body" style="height: auto;max-height: 600px !important; overflow-y: auto; margin: 0">
    {{ form|crispy }} {{ form.media }}
    <div class="fallback">
      <input name="file" type="file" multiple accept="image/png image/jpeg image/jpg"/>
    </div>
    <div class="row mt-3 p-1" id="preview-selected"></div>
    <div
      id="preview-template"
      class="mx-auto col-6 dz-preview dz-file-preview"
      style="display: none"
    >
      <div
        class="d-flex flex-column align-items-center dz-details border rounded mb-1 mr-1"
      >
        <img data-dz-thumbnail />
      </div>
      <div class="dz-progress">
        <span class="dz-upload" data-dz-uploadprogress></span>
      </div>
      <div class="dz-success-mark"><span>✔</span></div>
      <div class="dz-error-mark"><span>✘</span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
  </div>

  <div class="dz-default dz-message"></div>
  <div class="modal-footer col-12 d-flex justify-content-between border-0">
    <div class="bg-white d-flex p-1 post-action-buttons">
      <div>
        <button
          type="button"
          class="btn btn-md text-primary no-outline"
          id="add-images"
          data-tooltip="tooltip"
          data-placement="bottom" title="Image"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-camera"
            viewBox="0 0 16 16"
          >
            <path
              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"
            />
            <path
              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
            />
          </svg>
        </button>
      </div>
      <div class="dropup emoji-dropup">
        <button
          class="btn btn-md text-primary emoji-menu-button no-outline"
          aria-haspopup="true"
          data-toggle="dropdown"
          aria-expanded="false"
          data-tooltip="tooltip"
          data-placement="bottom" title="Emoji"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-emoji-smile"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
            />
          </svg>
        </button>
        <div
          class="dropdown-menu dropdown-menu-tip-se emoji-dropup-menu bg-white"
        >
          <emoji-picker class="light"></emoji-picker>
        </div>
      </div>
    </div>
    <button type="submit" id="sub-etal" class="btn btn-primary border-r">
      Post
    </button>
  </div>
</form>
<script src="{% static 'dropzone/dist/dropzone.js' %}"></script>
<link rel="stylesheet" href="{% static 'tribute/tribute.css' %}" />
<script src="{% static 'tribute/tribute.js' %}"></script>
<script src="{% static 'highlight-textarea/jquery.highlight-within-textarea.js' %}"></script>
<script src="{% static 'js/post/post-dz.js' %}"></script>
<script>
  $(document).ready(function () {
    
    let postSubmitButton = $('#sub-etal');
    let lenContent = $("#id_content").value;
    if(lenContent == undefined){
      $(postSubmitButton).attr("disabled", true);
      $(postSubmitButton).prop('disabled', true);
    }
    $("#id_content").keyup(function() {
      if(this.value.length > 0 && this.value != "Default value") {
        $(postSubmitButton).attr("disabled", false);
        $(postSubmitButton).prop('disabled', false);
      } else {
        $(postSubmitButton).attr("disabled", true);
        $(postSubmitButton).prop('disabled', true);
      }
    });

    if ($(".darkmode--activated").length) {
      $("emoji-picker").removeClass("light").addClass("dark");
    }

    $(".emoji-dropup-menu").on("click", function (e) {
      e.stopPropagation();
    });

    $(document).on("click.bs.dropdown", ".emoji-dropdown", (e) => {
      e.stopPropagation();
    });

    document
      .querySelector("emoji-picker")
      .addEventListener("emoji-click", (e) => {
        let emoji = e.detail["unicode"];
        $("#id_content").val($("#id_content").val() + "" + emoji);
      });

    var tribute = new Tribute({
      values: function (text, cb) {
        getUsernames(text, (users) => cb(users));
      },
      lookup: "username",
      fillAttr: "username",
      selectClass: "tributehighlight",
      noMatchTemplate: function (item) {
        return '<span style:"visibility: hidden;"></span>';
      },
      menuItemTemplate: function (item) {
        return `<div class="p-1">
							<div class="d-flex align-items-center">
								<div class="mx-1 mr-2">
									<img class="rounded-circle" height="30px" width="30px" src="${item.original.image}"/>
								</div>
								<div class="name mx-1">
									<div class="user-username-font d-flex align-items-center">
										${item.original.username}
									</div>							
								</div>
							</div>
						</div>`;
      },
      selectTemplate: function (item) {
        return "@" + item.original.username;
      },
    });

    var tributeHashTag = new Tribute({
      trigger: "#",
      values: function (text, cb) {
        getHashtags(text, (tags) => cb(tags));
      },
      lookup: "name",
      fillAttr: "name",
      selectClass: "tributehighlight",
      noMatchTemplate: function (item) {
        return '<span style:"visibility: hidden;"></span>';
      },
      menuItemTemplate: function (item) {
        return (
          '<div class="p-2"><div class="d-flex"><div class="name mx-1"><div class="h6">#' +
          item.original.name +
          "</div></div></div></div>"
        );
      },
      selectTemplate: function (item) {
        return "#" + item.original.name;
      },
    });
    tributeHashTag.attach(document.getElementById("id_content"));
    tribute.attach(document.getElementById("id_content"));

    function getUsernames(text, cb) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/get/user/mentions?q=" + text, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onload = function () {
        var data = JSON.parse(xhr.responseText);
        if (xhr.readyState === 4 && xhr.status == "200") {
          cb(data);
        } else if (xhr.status === 403) {
          cb([]);
        }
      };
      xhr.send(null);
    }

    function getHashtags(text, cb) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/taggit/?query=" + text, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onload = function () {
        var data = JSON.parse(xhr.responseText).tags;
        console.log(data);
        if (xhr.readyState === 4 && xhr.status == "200") {
          cb(data);
        } else if (xhr.status === 403) {
          cb([]);
        }
      };
      xhr.send(null);
    }

    $("#id_content").highlightWithinTextarea({
      highlight: /(?:(?<mention>@)|(?<hash>#))([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)/gi,
    });
  });
</script>
<style>
  #id_content {
    outline: none !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
  }
  .post-action-buttons .btn-circle {
	  padding-top: 4px;
  }
  #div_id_tags {
    display: none;
  }
  #id_title {
    padding-left: 0px;
    background-color: transparent !important;
  }
  .hwt-container {
    width: 100% !important;
  }
  #preview-selected > img {
    margin-top: 10px !important;
  }
  .selectize-input.items .item {
    margin-top: -3px !important;
  }
  .tribute-container {
    margin-top: 3px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(158, 158, 158, 0.459);
  }
  .tribute-container ul li {
    background-color: white;
  }
  .hwt-backdrop mark {
    position: relative;
    z-index: 1000;
  }
  #div_id_content textarea {
    position: relative;
    z-index: 1;
  }
  .dz-image-preview {
	border: none !important;
	position: relative;
  }
  .dz-image-preview img {
	  border-radius: 8px;
  }
  .dz-image-preview .dz-remove {
	content: "&times";
	display:block;
	position:absolute;
	text-decoration: none;
	top:3px;
	right:3px;
	font-size: 21px;
	background: rgb(238, 238, 238);
	color: rgb(63, 63, 63);
	border-radius: 50%;
	padding-left: 8px;
	padding-right:8px;
	overflow:hidden;
  }
  .dz-image-preview .dz-remove:hover{
	  opacity: 0.65;
  }
  .hwt-highlights mark {
    color: #487be0 !important;
    background-color: white;
  }
  .darkmode--activated .hwt-highlights mark {
    background-color: #1b1b1b !important;
  }
.post-action-buttons button {
  padding: 7px 7px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center; 
}
.post-action-buttons button:hover {
  background-color: #487be011;
}
</style>
