<div class="mt-1 mx-2 px-2">
  {% for comment in comments %}
  <div class="d-flex">
    <img class="img-create-post rounded-circle mr-1" style="width: 2.1rem;height: 2.1rem;" src="{{ comment.name.image }}"
    alt="Profile image">
      <span class="align-text-top">
        <a class="mr-2 text-dark font-weight-bolder" href="#">{{ comment.name.first_name }}</a><br>
        <p class="text-muted small py-0 " style="font-size: 0.7rem;">{{ comment.get_created_on }}</p></span> 
    </div>
    <p class="font-weight-light">{{ comment.body }}</p>
    <hr>
    {% empty %}
    <p class="font-weight-lighter text-muted">No comments to show</p>
    {% endfor %}
</div>