{% load static %}
<div class="modal-header border-0 py-2 ">
    <div class="text-center w-100 py-0">
        <h5 class="modal-title text-center" >Likes</h5>
    </div>
    <div style="display: inline-block;">
        <button type="button" class="close no-outline" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-infinite modal-body scroll-infinite-link" style="height: 450px;overflow-y: auto;" data-trigger="post-data-infinite-link">
    <div class="list-ctr px-1">
        {% for user in post_likes %}
        <div class="infinite-tem row mb-1">
            <div class="col-xs m-1">
                <img class="img-create-post rounded-circle mr-1" style="width: 2.5rem;height: 2.5rem;" src="{{ user.image.url }}">
            </div>
            <div class="col-xs py-1">
                <div style="margin-bottom: -4px;">
                    <a class="text-dark user-username-font" href=" {{ user.get_absolute_url }}">{{ user.get_username }}</a>
                </div>
                <div style="margin-top: -4px;">
                    <span class="text-muted small">{{ user.get_full_name }}</span>
                </div>     
            </div>
        </div>
        {% empty %}
        <div class="d-flex justify-content-center">
            <p class="m-0 small text-muted">No Likes</p>
        </div>
        {% endfor %}
    </div>    
    {% if post_likes.has_next %}
        <button type="button" class="btn text-muted-jcno-border no-outline post-data-infinite-link" data-url="/post/{{ post.guid_url }}/liked_by/?page={{ post_likes.next_page_number }}"></button>
    {% endif %}
</div>