.btn-circle.btn-sm { 
    width: 25px; 
    height: 25px; 
    padding: 4px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
}
.btn-lica {
    background-color: rgba(129, 193, 242);
    opacity: 0.75;
}
.btn-lica-r {
    background-color: rgba(238, 163, 158);
    opacity: 0.75;
}
.btn-lica:hover{
    opacity: 1;
}
.btn-lica-r:hover{
    opacity: 1;
}
.course-goto:hover {
    cursor: pointer;
}
.course-goto:hover span{
    color: whitesmoke !important;
}

.btn-cplx {
    height: 1.4rem;
    width: 1.4rem;
}

.btn.btn-cplx{
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

.btn.no-border {
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.btn.no-border:hover {
    opacity: 0.88;
}
.btn-cplx.Hard {
    background-color: rgba(245, 76, 76, 0.918);

}

.btn-cplx.Easy {
    background-color: rgba(0, 204, 0, 0.918);
}

.btn-cplx.Medium{
    background-color:rgba(255, 255, 50, 0.973);
}

.btn-cplx.MostFailed{
    background-color:rgba(0, 0, 0, 0.918);
}

.btn-cplx:hover {
    opacity: 0.653;
}
.cplx.Easy {
    color: rgba(0, 204, 0, 0.918);
}
.cplx.Medium {
    color:rgba(243, 243, 89, 0.918);
}
.cplx.Hard {
    color:rgba(245, 76, 76, 0.918);
}
.cplx.MostFailed {
    color:rgba(0, 0, 0, 0.918);
}
.error-box {
    background-color: rgba(204, 0, 0, 0.199);
}
.course-title-box:hover {
    cursor: pointer;
    opacity: 0.7;
}
.cplx.Easy {
    color: rgba(0, 204, 0, 0.918);
}
.cplx.Medium {
    color:rgba(243, 243, 89, 0.918);
}
.cplx.Hard {
    color:rgba(245, 76, 76, 0.918);
}
.cplx.MostFailed {
    color:rgba(0, 0, 0, 0.918);
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}