{% load static %}
{% load ibuilder %}
<form class="buzz-like-form"  method="POST">
    {% csrf_token %}
    {% if request.user in buzz.likes.all %}
    <button class="btn no-border p-0 mr-4  btn-md  buzz-like-btn button-hide-outline" type="submit" 
        data-url="{% url 'home:buzz-like' guid_url=buzz.guid_url  status='rmvlike' %}">
        <i class="fas  mr-2 fa-thumbs-up" style="color:  rgb(43, 98, 153);"></i><span class="text-muted small">{{ buzz.likes.count|num_format }}</span></button> 

    <button class="btn no-border p-0 mr-4 btn-md buzz-like-btn button-hide-outline" type="submit" 
         data-url="{% url 'home:buzz-like' guid_url=buzz.guid_url  status='udislike' %}">
        <i class="fas mr-2 fa-thumbs-down"  style="color:  rgb(185, 186, 187);"></i><span class="text-muted small">{{ buzz.dislikes.count|num_format }}</span></button> 

    {% elif request.user in buzz.dislikes.all %}

    <button class="btn no-border p-0 mr-4 btn-md  buzz-like-btn  button-hide-outline" type="submit" 
        data-url="{% url 'home:buzz-like' guid_url=buzz.guid_url  status='ulike' %}">
        <i class="fas mr-2 fa-thumbs-up" style="color:  rgb(185, 186, 187);"></i><span class="text-muted small">{{ buzz.likes.count|num_format }}</span></button>

    <button class="btn no-border p-0 mr-4 btn-md  buzz-like-btn  button-hide-outline" type="submit" 
     data-url="{% url 'home:buzz-like' guid_url=buzz.guid_url  status='rmvdislike' %}">
    <i class="fas mr-2 fa-thumbs-down" style="color:  rgb(240, 78, 78);"></i><span class="text-muted small">{{ buzz.dislikes.count|num_format }}</span></button>

    {% else %}

    <button class="btn no-border p-0 mr-4  btn-md  buzz-like-btn  button-hide-outline" type="submit" 
        data-url="{% url 'home:buzz-like' guid_url=buzz.guid_url  status='like' %}">
        <i class="fas mr-2 fa-thumbs-up"  style="color:  rgb(185, 186, 187);"></i><span class="text-muted small">{{ buzz.likes.count|num_format }}</span></button>
    <button class="btn no-border p-0 mr-4 btn-md buzz-like-btn  button-hide-outline" type="submit" 
       data-url="{% url 'home:buzz-like' guid_url=buzz.guid_url  status='dislike' %}">
        <i class="fas mr-2 fa-thumbs-down"  style="color:  rgb(185, 186, 187);"></i><span class="text-muted small">{{ buzz.dislikes.count|num_format }}</span></button>
    
    {% endif %}
</form>
