{% load static %}
{% load ibuilder %}
<form class="buzz-wot-form"  method="POST">
    {% csrf_token %}
    {% if request.user in buzz.wots.all %}
    <button class="btn no-border p-0 mr-4  btn-md  buzz-wot-btn button-hide-outline" type="submit" 
        data-url="{% url 'home:buzz-wot' guid_url=buzz.guid_url  status='rmv' %}">
        <svg style="color:  rgb(206, 195, 39);" class="bi bi-lightning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
          </svg>
        <span style="color:  rgb(158, 158, 158);" class="small ml-1 ">{{ buzz.wots.count|num_format  }}</span></button> 
    {% else %}
    <button class="btn no-border p-0 mr-4  btn-md  buzz-wot-btn  button-hide-outline" type="submit" 
        data-url="{% url 'home:buzz-wot' guid_url=buzz.guid_url  status='wot' %}">
        <svg style="color:  rgb(158, 158, 158);" class="bi bi-lightning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
          </svg>
        <span  style="color:  rgb(158, 158, 158);" class="small ml-1 ">{{ buzz.wots.count|num_format  }}</span></button>
    {% endif %}
</form>
