{% for reply in replies %}
{% load ibuilder %}
{% load static %}
<div class="bzrbx">
    <div class="d-flex justify-content-between">
        <div class="align-items-center d-flex">
            <div>
                <img class="bzrvmuim img-create-post rounded-circle mr-1" style="width: 2.1rem;height: 2.1rem;"  data-name="{{ reply.reply_nickname }}" alt="Image">
            </div>
            <div class="text-muted small">
                <span>
                    {{ reply.reply_nickname }}
                </span>
                <span>· </span>
                <span>
                    {{ reply.get_created_on }}
                </span>
            </div>
        </div>
        <div>
            <div class="dropdown">
                <button class="btn btn-sm no-border" type="button" id="d_li" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="d_li">
                  {% if reply.reply_author == request.user %}
                  <button class="small dropdown-item no-border shbzcmdlfrm" data-url="{% url 'home:cbuzz-delete' reply.get_hashid %}"><i class="mr-1 fas fa-trash"></i>Delete</button>
                  {% endif %}
                  {% if reply.reply_author != request.user %}
                  <button class="small dropdown-item no-border" href="#"><i class="mr-1 fas fa-flag"></i>Report</button>
                  {% endif %}
                </div>
              </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm review">
                {{ reply.reply_content }}
            </div>
        </div>
    </div>
    <div class="_3buzzcmcntr mt-2 p-1">
        {% include 'home/buzz/buzz_r_like.html' with reply=reply %}
    </div>
    <hr>
</div>
{% endfor %}

<div class="modal fade" id="modal-comment-delete">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
      </div>
    </div>
  </div>