{% load crispy_forms_tags %}
{% load static %}
<form method="POST" {% if action_url %} data-url="{{ action_url }}" {% else %} data-url="{% url 'home:course-list-edit' hid=list.get_hashid %}"  {% endif %} class="{{ form_class }}course-list-edit-form {{ fc }}">
	{% csrf_token %}
		<div class="modal-header text-center">
			<h5 class="modal-title col-12 text-center">{% if form_class %}Edit Item{% else %}Edit List{% endif %}
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</h5>
		</div>
	<div class="modal-body">
		{% if not action_url %}
			{{ form|crispy }}
			{% else %}
			<div id="course-list-document">
				{% for field in form.hidden_fields %}
				{{ field }}
				{% endfor %}
				{% for field in form.visible_fields %}
				<div class="my-2 row align-items-center d-flex">
				<div class="col-12 w-100">
					<span class="text-muted">
					{{ field.label }}
					</span>
				</div>
				<div class="col-sm-12 w-100">
					{{ field }}
					{% if field.name|stringformat:"s" == "course_instructor" %}
					<div class="mb-1 p-1 border rounded query-result bg-white" id="crs-ins-dp" style="text-transform: capitalize;"><ul class="list-group list-group-flush"></ul></div>
					{% endif %}
					<span class="small text-muted">{{ field.help_text }}</span>
					<span class="text-danger">{{ field.errors }}</span>
				</div>
				</div>  
			{% endfor %}
			</div>		
		{% endif %}
	</div>
	<div class="modal-footer col-12">
		<button type="submit" class="btn btn-primary no-border"  style="border-radius: 20px; ">Save</button>
	</div>
</form>
<script src="{% static 'js/courses/course-add.js' %}"></script>
<style>input[name='course_instructor']{text-transform: capitalize;}</style>





			




