<form method="POST" data-url="{% url 'main:notifications-settings-friends' %}" class="mt-3 notifications-settings-form">
    {% csrf_token %}
    {% if user.get_friendrequest_notify %}
    <div class="mb-2 offview checkbox-privacy">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="onoffinput-check" id="oninput-check" value="friendrequeston" checked>
            <label class="ml-2 form-check-label" for="oninput-check">
              On
            </label>
          </div>
    </div>
    <div class="onview checkbox-privacy">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="onoffinput-check" id="offinput-check1" value="friendrequestoff">
            <label class="ml-2 form-check-label" for="offinput-check1">
              Off
            </label>
          </div>
    </div>
    {% else %}
    <div class="mb-2 offview checkbox-privacy">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="onoffinput-check" id="oninput-check" value="friendrequeston">
            <label class="ml-2 form-check-label" for="oninput-check">
              On
            </label>
          </div>
    </div>
    <div class="onview checkbox-privacy">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="onoffinput-check" id="offinput-check1" value="friendrequestoff" checked>
            <label class="ml-2 form-check-label" for="offinput-check1">
              Off
            </label>
          </div>
    </div>
    {% endif %}
</form>