{% extends 'main/settings/privacy_security.html' %}
{% block securitycontent %}
<div class="mb-3 pb-3  border-bottom account-privacy-info">
    <div class="setting-menu-sub">
        <h5>Friend Requests</h5>
    </div>
    <div class="privacy-type">
        <div class="mb-2 description-ctr">
            <p class="mb-2 small text-muted">
                X has sent you a friend request.
            </p>
        </div>
        <div id="ns-form-ctr">
            {% include 'main/settings/notifications/notifications_friends_all.html' %}
        </div>
    </div>
</div>
<div class="mb-3 pb-3 account-privacy-info">
    <div class="setting-menu-sub">
        <h5>Accepted Friend Requests</h5>
    </div>
    <div class="privacy-type">
        <div class="mb-2 description-ctr">
            <p class="mb-2 small text-muted">
                X has accepted your friend request.
            </p>
        </div>
        <div id="ns-form-ctr">
            {% include 'main/settings/notifications/notifications_friends_accepted.html' %}
        </div>
    </div>
</div>
{% endblock %}
