{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 85vh">
  <div class="w-50">
    <div class="my-1">
      <h5 class="text-center info-all pb-2">
        Confirm password to continue
      </h5>
    </div>
    <form class="card" method="post">
      {% csrf_token %}
      <div class="card-body m-2">
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm no-border no-outline float-right" style="border-radius: 20px;" type="submit">Confirm</button>
      </div>
     <div class="small p-1 card-link">
       <a href="{% url 'password_reset' %}">Forgot Password?</a>
     </div>
    </form>
  </div>
</div> 
{% endblock %}