{% extends 'main/settings/privacy_security.html' %}
{% block securitycontent %}
<div class="p-2 pt-3 menu-link mb-1 account-privacy-info" data-url="{% url 'main:set-public-private' %}">
    <div class="d-flex justify-content-between">
        <div class="setting-menu-sub">
            <h6>Account Privacy</h6>
        </div>
        <div>
            <svg width="1em" height="1em" style="margin-top:-5px !important;" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
    </div>
</div>
<div class="p-2 pt-3 menu-link password-container" data-url="{% url 'main:change-password' %}">
    <div class="d-flex justify-content-between">
        <div class="setting-menu-sub">
            <h6>Password</h6>
        </div>
        <div>
            <svg width="1em" height="1em" style="margin-top:-5px !important;" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
    </div>
</div>
<div class="p-2 pt-3 menu-link password-container" data-url="{% url 'main:search-settings' %}">
    <div class="d-flex justify-content-between">
        <div class="setting-menu-sub">
            <h6>Search Settings</h6>
        </div>
        <div>
            <svg width="1em" height="1em" style="margin-top:-5px !important;" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
    </div>
</div>
<div class="p-2 pt-3 menu-link password-container" data-url="{% url 'main:login-info' %}">
    <div class="d-flex justify-content-between">
        <div class="setting-menu-sub">
            <h6>Login Info</h6>
        </div>
        <div>
            <svg width="1em" height="1em" style="margin-top:-5px !important;" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
    </div>
</div>
<div class="p-2 pt-3 menu-link password-container" data-url="{% url 'main:delete-menu' %}">
    <div class="d-flex justify-content-between">
        <div class="setting-menu-sub">
            <h6>Account and Data Deletion</h6>
        </div>
        <div>
            <svg width="1em" height="1em" style="margin-top:-5px !important;" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
    </div>
</div>
<style>.menu-link{border-radius: 7px;}</style>
{% endblock %}