<form method="POST" data-url="{% url 'main:set-public-private' %}" class="mt-3 profile-privacy-form">
    {% csrf_token %}
    <div class="mb-2 private-view checkbox-privacy">
        <div class="form-check">
            <input class="ra_radio form-check-input" type="radio" name="ranking-input-check" id="ranking-on-input-check" value="rfuon" {{ ranking_on }} {{ disable_ranking }}>
            <label class="ml-2 form-check-label" for="ranking-on-input-check">
              On
            </label>
          </div>
    </div>
    <div class="public-view checkbox-privacy">
        <div class="form-check">
            <input class="ra_radio form-check-input" type="radio" name="ranking-input-check" id="ranking-off-input-check" value="rfuoff" {{ ranking_off }} {{ disable_ranking }}>
            <label class="ml-2 form-check-label" for="ranking-off-input-check1">
              Off
            </label>
          </div>
    </div>
    <input type="hidden" name="hid" value="{{ user.get_hashid }}"/>
</form>