body {
    background-color: white !important;
}
.nav-header-main {
    background-color: rgb(129,193,242);
}
.card-link-title-bg {
    background-color: rgba(129, 193, 242, 0.548);
}

.brand-home-header {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20cpx;
    letter-spacing: 1px;
    word-spacing: 1.2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(126, 192, 243)!important;
}

.btn-primary:hover {
    opacity: 0.85;
}

.input-no-border {
    border: 0;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

.menu-link-active {
    background-color:rgb(214, 211, 211);
}

.menu-link:hover {
    cursor: pointer;
    background-color:rgb(207, 205, 205); 
}

.menu-link:hover  i{
    color:rgb(18, 20, 22) ;
}

.menu-link:hover  a{
    color:rgb(18, 20, 22) ;
}

.post-create-form textarea{
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
    padding-bottom: 1rem;
    overflow-y: auto;
    /*min-height: 11rem;*/
    }
    
.post-create-form input[type='text']{
    border-radius: 0;
    border-left:none !important;
    border-top:none !important;
    border-right:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.post-update-form textarea{
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
    padding-bottom: 1rem;
    overflow-y: auto;
    min-height: 11rem;
    }

.post-create-form #add-images {
    border: 1px solid rgb(207, 205, 205);
    background-color: rgba(210, 230, 248, 0.63);
}
.post-create-form #add-images:hover {
    opacity: 0.875;
}
.post-create-form #add-tagstp {
    border: 1px solid rgb(207, 205, 205);
    background-color: rgba(199, 248, 184, 0.63);
}
.post-create-form  #add-tagstp:hover {
    opacity: 0.875;
}

.buzz-create-form textarea{
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
    padding-bottom: 1rem;
    overflow-y: auto;
    /*min-height: 11rem;*/
    }
    
.buzz-create-form input[type='text']{
    border-radius: 0;
    border-left:none !important;
    border-top:none !important;
    border-right:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

.carousel .carousel-indicators li {
    background-color:#e0e0e0!important;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    }

.comment-like-form button {
    opacity: 1 !important;
}

.mnpglk:hover{
    background-color: rgba(210, 230, 248, 0.192);
    cursor: pointer;
}

.mnpglk-active{
    background-color: rgba(210, 230, 248, 0.192);
}

.mnpglk i:hover {
    opacity: 1;
}

.dropdown > button {
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
    -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
}