{% extends "home/homepage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% load ibuilder %}
{% block title %}
<title>{{ blog.title }} - JoinCampus</title>
{% endblock %}
{% block item %}
<div class="cr-blg-ctr fixedbutton">
    <a href="{% url 'home:blog-create' %}" class="btn btn-primary btn-f-circle">
        <i class="material-icons-outlined" style="font-size: 30px;">create</i>
    </a>
</div>
{% endblock %}
{% block content %}
<div id="blog-detail" class="blog-ctr">
    <div class="row d-flex justify-content-between blog-title mb-4">
        <div class="ml-3">
            <h2 class="text-dark" style="font-size: 2.97568rem;">{{ blog.title }}</h2>
        </div>
        <div>
            {% if request.user == blog.author %}
            <div class="dropdown small">
                <button class="btn btn-sm " type="button" id="d_li" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="d_li">
                    <a class="btn btn-md dropdown-item p-0 mr-2 ml-1 blog-remove-btn text-secondary"
                        href="{% url 'home:blog-edit' hid=blog.guid_url t=blog.slug %}">
                        <svg class="bi mr-1 bi-pencil-square"
                      width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>Edit</a>
                    <button class="btn btn-md dropdown-item p-0 mr-2 show-form-delete ml-1 text-danger"
                        data-url="{% url 'home:blog-delete' hid=blog.guid_url t=blog.slug %}">
                        <svg class="bi mr-1 bi-trash" width="1em"
                      height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>Delete</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex info" style="margin-bottom: 2rem !important;">
            <div class="img mr-2">
                {% thumbnail blog.author.image "41x41" crop="80% top" as im %}
                    <img class="rounded-circle" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}    
            </div>
            <div style="margin-top: -0.147rem !important;">
                <span class="text-muted">
                    <a href="{{ blog.author.get_absolute_url }}" class="card-link">
                        {{ blog.author.get_full_name }}
                    </a>
                </span><br>
                <span class="text-muted small">
                    {{ blog.last_edited|date:"M d, Y" }}
                    <span>
                        ·
                    </span>
                    <span>
                        {{ blog.get_readtime }} read
                    </span>
                </span>
            </div>
        </div>
        <div class="d-flex">
            <div class="bm_allctr small p-0">
                {% include 'main/bookmark/bookmark.html' with hid=blog.get_hashid t="blog" %}
            </div>
            {% if request.user != blog.author %}
            <div class="small ml-2 p-0">
                <button class="p-0 btn btn-md show-report-form"
                    data-url="{% url 'main:report-object' request.user.get_hashid %}?t=blg&hid={{ blog.get_hashid }}"><svg
                        class="bi bi-flag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd"
                            d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 1 1-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 0 1-.554-.832l.04-.026z" />
                    </svg></button>
            </div>
            {% endif %}
        </div>
        
    </div>
    <div class="blog-des">
        <p class="small-text-muted">
            <span></span>
        </p>
    </div>
    <div class="blog-body mt-3">
        {{ blog.content|safe }}
    </div>
    <div class="mt-5 blog-tags d-flex">
        {% for tag in blog.tags.all %}
        <div class="btn-light btn mr-1 mnpglk small" data-url="{% url 'home:tag-blog' tag.slug %}">
            <span class="text-dark" style="text-decoration: none;">{{ tag.name }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex mt-3">
        <div class="blog-like-section">
            {% include 'home/blog/blog_like.html' with blog=blog %}
        </div>
        <div class="mx-2 blog-responses">
            <a href="{% url 'home:blog-replies' slug=blog.slug guid_url=blog.guid_url %}" class="btn border btn-md"
                style="border:solid 1px rgba(158, 158, 158, 0.623) !important;border-radius: 20px;">
                <span style="font-size:1rem; color:  rgb(158, 158, 158);">
                    View Replies
                    <span class="ml-1">
                        {{ replies_count|num_format  }}
                    </span>
                </span>
            </a>
        </div>
    </div>

    <div class="border-top pt-3 mt-3 bg-au">
        <div class="d-flex justify-content-between">
            <div class="d-flex info" style="margin-bottom: 2rem !important;">
                <div class="img mr-2">
                    {% thumbnail blog.author.image "41x41" crop="80% top" as im %}
                     <img class="rounded-circle" style="margin-top: 1px !important;" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                    {% endthumbnail %}    
                </div>
                <div style="margin-top: -0.140rem !important;">
                    <span class="text-muted">
                        <a href="{{ blog.author.get_absolute_url }}" class="card-link">
                            {{ blog.author.get_full_name }}
                        </a>
                    </span><br>
                    <span class="text-muted small">
                        {{ blog.last_edited|date:"M d, Y" }}
                    </span>
                </div>
            </div>
        </div>
        <div class="author-info">
            <p>
                {{ blog.author.bio }}
            </p>
        </div>
    </div>
</div>
{% endblock content %}