{% load static %}
<footer class="page-footer font-small pt-2">
    <div class="mx-1 row">
      <div>       
        <a class="text-muted small" href="#">
          Help
          </a>
      </div> 
      <div class="mx-1">
        <span class="text-muted">|</span>  
      </div> 
      <div>       
        <a class="text-muted small" href="#">
          About
          </a>
      </div>
      <div class="mx-1">
        <span class="text-muted">|</span>  
      </div> 
      <div>       
        <a class="text-muted small" href="#">
          Terms
          </a> 
      </div>
      <div class="mx-1">
        <span class="text-muted">|</span>  
      </div>
      <div>       
        <a class="text-muted small" href="{% url 'main:web-policy' %}">
          Privacy policy
          </a>
      </div>
      <div class="mx-1">
        <span class="text-muted">|</span>  
      </div>
      <div>       
        <a class="text-muted small" href="#">
          Cookies
          </a>
      </div>                                                                                                                                                 
    </div>
    <div class="footer-copyright small mx-1 text-muted">Corscope © 2020. All rights reserved
      </div>
  </footer> 