{% load static %}
<link rel="stylesheet" href="{% static 'css/nav/styles.css' %}">
<nav class="navbar navbar-expand main-top-nav pl-3 border-bottom p-0" style="background-color: rgba(255, 255, 255);">
  <a class="navbar-brand ml-1 mr-3" href="{% url 'main:user_login' %}">
    <div>
      <img class="img-fluid" src="{% static 'logo/m/logo-main.svg' %}" style="height: 2.7rem;">
    </div>
  </a>
  <div class="collapse navbar-collapse mr-4" id="navbarMainHeader">
    <ul class="float-right navbar-nav bg-white ml-auto">
      <li class="mx-1 nav-item">
        <a  href="{% url 'main:signup' %}" class="btn btn-primary no-border" style="border-radius: 20px;" >Sign up</a>
      </li>
        <li class="nav-item mr-1">
          <a href="{% url 'main:user_login' %}" class="btn btn-light no-border" style="border-radius: 20px;">Log in</a>
        </li>
      </ul>
  </div>
</nav>